.community-project
	.row
		.twelve.columns
			.u-pull-left
				.title
					block title
				.position
					block position
			.u-pull-right
				.number 
					block number
	.row
		.six.columns.left-content
			.meta
				block meta
		.six.columns
			block photos