extends community

block number
	| State-Wide
block title
	| Florida Hackers
block position
	| Founding Member, 2016

block meta
	.row
		.twelve.columns
			.sub-header Desc.
			.info Initiative to connect passionate creators across the Sunshine State.
	.row
		.twelve.columns
			.sub-header Site
			.info-link #[a(target='_blank' href='http://floridahackers.com') floridahackers.com]
	.row
		.twelve.columns
			.sub-header Takeaways
			.info Community Organizing

block photos
	ul.photos#fh
		li.item.move-down-abit.full-width.rotate-1
			img(src='img/fh/fh_stetson.png')
		li.item.rotate-5.full-width.move-down-abit
			img(src='img/fh/fh_prime.jpg')
		li.item.move-down.rotate-3
			img(src='img/fh/fh_1206.jpg')
		li.item.move-down-abit.rotate-4
			img(src='img/fh/fh_mhacks.jpg').active