extends community

block number
	| On-Campus
block title
	| HackFSU
block position
	| Founding Director, 2014

block meta
	.row
		.twelve.columns
			.sub-header Desc.
			.info-with-link <span> Florida's premiere student hackathon held at Florida State. Focused on community and </span> #[a(target='_blank' href='https://www.youtube.com/watch?v=_96bjX-wKBI') culture]<span>.</span>
	.row
		.twelve.columns
			.sub-header Site
			.info-link #[a(target='_blank' href='http://hackfsu.com') hackfsu.com]
	.row
		.twelve.columns
			.sub-header Takeaways
			.info Event Experience + Building Teams

block photos
	ul.photos#hackfsu
		li.item.full-width.move-down.rotate-5
			img(src='img/hackfsu/hackfsuPhotobooth.jpg')
		li.item.full-width.move-down-abit.rotate-4
			img(src='img/hackfsu/hackfsuNintendo.JPG')
		li.item.full-width.move-down.rotate-3
			img(src='img/hackfsu/hackfsuFirstTeam.jpg')
		li.item.move-down.rotate-5
			img(src='img/hackfsu/hackfsuOpening.jpg').active
			