
$off-black: #111111;
$gray: #C0C0C0;

$frame-pad: 1.6rem;
$frame-delay: 150ms;
$frame-duration: 450ms;




.hero {
	min-height: 100vh;
	padding-top: 8rem;
	padding-bottom: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__header {

		&-toggle {
			float: left;
		}

		&-icons {
			float: right;

			a {
				margin-right: 1.6rem;
				text-decoration: none;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					svg g g {
						fill: $off-black;
					}
				}
			}

			svg g g {
				transition: all 200ms ease-in-out;
				fill: $gray;
			}


		}
	}

	&__middle {
		position: relative;
		flex: 1;

		&-center {
			transform: translateY(-50%);
			top: 50%;
			width: 100%;
			position: absolute;
		}

		&-left {
			display: flex;
			justify-content: flex-end;
			margin-right: 4rem;

			.frames {
				position: relative;
				height: 382px;
				width: 312px;

				.frame {
					border-radius: 1px;
					position: absolute;
					height: 348px;
					width: 278px;

					border: 1px solid $off-black;
					background: #FFFFFF;

					transition: all $frame-duration cubic-bezier(0.55, -0.01, 0.32, 1.21);

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					.not-visible {
						opacity: 0;
						transition: all $frame-duration ease-in-out;

						&.visible {
							opacity: 1;
						}
					}




					&--4 {
						opacity: 0;
						transform: translate($frame-pad * 3, $frame-pad * 3);
						transition-delay: $frame-delay * 4;
						z-index: 1;
					}

					&--3 {
						opacity: 1;
						transform: translate($frame-pad * 2, $frame-pad * 2);
						transition-delay: $frame-delay * 3;
						z-index: 10;
					}

					&--2 {
						opacity: 1;
						transform: translate($frame-pad, $frame-pad);
						transition-delay: $frame-delay * 2;
						z-index: 100;
					}

					

					&--1 {
						opacity: 1;
						transform: translate(0);
						transition-delay: $frame-delay;
						z-index: 1000;
					}

					
					&--0 {
						opacity: 0;
						transform: translate(-$frame-pad, -$frame-pad);
						transition-delay: 0ms;
						z-index: 10000;
					}
				}
			}
		}

		&-right {
			margin-left: 0;

			.copy {
				margin-top: 8rem;
			}
		}
	}

	&__bottom {
		width: 100%;
		text-align: center;
	}
}

@media all and (max-width: 399px) {
	.hero {
		padding-top: 2.4rem;
	}
}






.dont-show {
	opacity: 0;
	transition: all 300ms ease-out;

	&.show {
		opacity: 1;
	}
}


