$red: #F23D60;
$purple: #564787;
$blue: #37A3F4;


.container {
	max-width: 1000px;
}

.dont-show {
	opacity: 0;
	-webkit-transform: translate(0, -20px);
	transform: translate(0, -20px);
	transition: all 450ms ease-out;

	&.show {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
}

.to-hide {
	opacity: 1;
	transition: all 300ms ease-out;

	&.hide {
		opacity: 0;
	}
}

#dev {
	.quote span::before {
		background-color: rgba(86, 71, 135, 0.2);
	}
}

#design {
	.quote span::before {
		background-color: rgba(242, 61, 96, 0.2);
	}
}


.header {
	width: 100%;
	height: 0;
	
	&.slide-down {
		-webkit-animation: 750ms spring linear;
		animation: 750ms spring linear;
  		-webkit-animation-fill-mode: forwards;
  		animation-fill-mode: forwards;
	}

	// testing out just easing the height
	//
	// opacity: 0;
	// height: 37vh;
	// transition: all 400ms ease-in;

	// &.slide-down {
	// 	opacity: 1;x
	// }
	
	&#dev {
		color: $purple;
		background-color: rgba(86, 71, 135, 0.2);

		.back .triangle {
			border-right: 0.8rem solid $purple;
		}

		.meta .experience::after {
			background-color: $purple;
		}
	}

	&#design {
		color: $red;
		background-color: rgba(242, 61, 96, 0.2);

		.back .triangle {
			border-right: 0.8rem solid $red;
		}

		.meta .experience::after {
			background-color: $red;
		}
	}


	.hide-left {
		-webkit-transform: translate(-40px, 0);
		transform: translate(-40px, 0);
		opacity: 0;
		transition: all 300ms ease-out;

		&.show {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}

		&.type {
			transition-delay: 50ms;
		}

		&.back {
			transition-delay: 50ms;
		}
	}

	.title {
		padding-top: 10rem;
		font-family: 'League Spartan';
		font-size: 8rem;
	}

	.meta {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: -4rem;

		.type {
			font-size: 2rem;
			line-height: 1rem;

			span {
				font-style: italic;
				margin-left: 2rem;
			}
		}

		.experience {
			font-size: 2rem;
			padding-right: 1.3rem;
			position: relative;

			ul {
				margin: 0;
				text-align: right;
				list-style: none;
				padding: 0;
			}

			li {
				line-height: 1.8rem;
				margin-top: 1.2rem;
				-webkit-transform: translate(20px, 0);
				transform: translate(20px, 0);
				opacity: 0;
				transition: all 300ms ease-out;
				transition-delay: 50ms;
			}

			li:nth-child(1) {
				transition-delay: 150ms;
				margin-top: 0;
			}

			&.move-up li {
				opacity: 1;
				-webkit-transform: translate(0, 0);
				transform: translate(0, 0);
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				height: 0;
				width: 0.4rem;
				background-color: $purple;
				transition: all 200ms ease-out;
			}

			&.move-up::after {
				height: 100%;
			}
		}

		.extra-margin {
			margin-top: 3rem;
		}

		
	}
	

	.back {
		padding-top: 3rem;
		width: auto;
		font-weight: 500;
		font-size: 1.8rem;

		.triangle {
			width: 0;
			height: 0;
			float: left;
			margin-top: 0.4rem;
			margin-right: 1rem;

			border-right: 0.8rem solid $purple;
			border-top: 0.8rem solid transparent;
			border-bottom: 0.8rem solid transparent;
		}

		&:hover {
			opacity: 0.6;
			cursor: pointer;
		}
	}
}

.quote {
	padding-top: 12rem;
	padding-bottom: 15rem;
	font-size: 4rem;
	font-weight: 500;
	line-height: 6rem;

	span {
		width: 100%;
		position: relative;

		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			bottom: 1.5rem;
			height: 2.3rem;
			width: 0;
			background-color: rgba(86, 71, 135, 0.2);
			transition: all 300ms linear;
		}

		&.show::before {
			width: 100%;
		}
	}
}


.base-info {
	transition-delay: 250ms;

	.sub-header {
		font-weight: 800;
		font-size: 1.8rem;
	}

	.text {
		opacity: 0.5;
		font-size: 2rem;
		margin-bottom: 7rem;
	}

	img {
		width: 100%;
		height: auto;
	}

	.sub-text {
		margin-top: 1rem;
		opacity: 0.6;
		font-size: 2rem;
		/*
		border-left: 0.4rem solid rgba(0,0,0, 0.5);
		line-height: 2.2rem;
		padding-left: 0.8rem;
		*/
	}
}

.section {
	.heading {
		font-family: 'League Spartan';
		font-size: 5rem;
		margin-top: 12rem;
	}

	.text {
		opacity: 0.6;
		font-size: 2rem;
		line-height: 3.5rem;

		span {
			opacity: 1;
		}
	}

	img {
		width: 100%;
		height: auto;
		margin-top: 3rem;

		&.half {
			width: 50%;
		}
	}
}

.add-border {
	border: 0.5rem solid rgba(0,0,0, 0.1);
}

a {
	opacity: 1;
	color: #303030;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

#dev a:hover {
	color: black;
	border-color: $purple;
	opacity: 1;
	cursor: pointer;
}

#design a:hover {
	color: black;
	border-color: $red;
	opacity: 1;
	cursor: pointer;
}


.last-bit {
	width: 100%;
	height: 20vh;
	margin-top: 12rem;
	margin-bottom: -4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.footer {
	width: 100%;
	height: 40vh;
	margin-top: 5rem;
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	.back {
		padding: 1.2rem 2rem 1rem 2rem;
		font-size: 2rem;
		font-weight: 500;
		border: 0;
		border-radius: 5px;

		.triangle {
			width: 0;
			height: 0;
			float: left;
			margin-top: 0.6rem;
			margin-right: 1rem;

			border-right: 0.8rem solid $purple;
			border-top: 0.8rem solid transparent;
			border-bottom: 0.8rem solid transparent;

			transition: all 200ms ease-out;
		}

		&#dev:hover {
			cursor: pointer;
			background-color: rgba(86, 71, 135, 0.1);

			.triangle {
				-webkit-transform: translate(-4px, 0);
				transform: translate(-4px, 0);
			}
		}

		&#design:hover {
			cursor: pointer;
			background-color: rgba(242, 61, 96, 0.1);

			.triangle {
				-webkit-transform: translate(-4px, 0);
				transform: translate(-4px, 0);
			}
		}

		&#dev {
			color: $purple;
			background-color: rgba(86, 71, 135, 0.2);

			.triangle {
				border-right: 0.8rem solid $purple;
			}
		}

		&#design {
			color: $red;
			background-color: rgba(242, 61, 96, 0.2);

			.triangle {
				border-right: 0.8rem solid $red;
			}
		}
	}


}


@media all and (max-width: 450px) {
	html {
		font-size: 8px;
	}

	.quote {
		font-size: 2.8rem;
		line-height: 4.5rem;
		padding-top: 6rem;
		padding-bottom: 8rem;

		span::before {
			bottom: 1rem;
		}
	}

	.header {
		.title {
			font-size: 3.5rem;
			padding-bottom: 3rem;
			padding-top: 13rem;
		}

		.meta {
			.type {
				line-height: 1.8rem;

				span {
					margin-left: 1rem;
				}
			}
		}

		.back .triangle {
			margin-top: 0.5rem;
		}

	}

	.section {
		.heading {
			line-height: 6.5rem;
			margin-bottom: 1rem;
		}
	}


}


@media all and (max-width: 320px) {
	html {
		font-size: 7px;
	}
}













