$off-black: #171717;
$gray: #C0C0C0;

$beige: #FFF6EA;
$purple: #CDBCEB;
$red: #FF6E6E;
$blue: #8ACCFF;
$orange: #FFAE4A;


.dont-show, .show-last {
	opacity: 0;
	transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
	transform: translate(-16px, -16px);

	&.show {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.header {

	position: relative;

	// override base anchor styling
	a {
		border: none;
		text-decoration: none;

		&:hover {
			color: $off-black;
		}
	}

	&.dont-show-header {
		.header__fa-tag {
			transform: rotate(-16deg) translate(32px, 32px);
			opacity: 0;
			transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
		}

		.header__title-topper {
			transform: translate(16px, 16px);
			opacity: 0;
			transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
			transition-delay: 75ms;
		}

		.header__title-shadow {
			transform: translate(32px, 32px);
			opacity: 0;
			transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
			transition-delay: 150ms;
		}

		.header__back {
			transform: translate(32px, 32px);
			transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
			transition-delay: 150ms;
			opacity: 0;
		}
	}

	&.show {

		.header__fa-tag {
			transform: rotate(-16deg) translate(0, 0);
			opacity: 1;
		}

		.header__title-topper {
			transform: translate(-20px, -20px);
			opacity: 1;
		}

		.header__title-shadow {
			transform: translate(0, 0);
			opacity: 1;
		}

		.header__back {
			transform: translate(0, 0);
			opacity: 1;
		}

	}

	&__back {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 8rem;
		margin-bottom: 5.2rem;
		margin-left: 2rem;

		svg {
			transform: rotate(180deg) translateX(0);
			transition: all 200ms ease-in-out;
			margin-right: 0.8rem;
			height: 16px;
		}

		&:hover {
			cursor: pointer;

			svg {
				transform: rotate(180deg) translateX(4px);
			}
		}
	}

	&__fa-tag {
		height: 14rem;
		width: 14rem;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: absolute;
		right: 10rem;
		top: 0;
		transform: rotate(-16deg) translate(0, 0);
		border: 1px solid $off-black;
		background: $beige;
		z-index: 10;
	}

	&__title {
		position: relative;

		&-topper {
			transform: translate(-20px, -20px);
			border-radius: 1px;
			border: 1px solid $off-black;
			background: $beige;
			padding-top: 2.4rem;
			padding-right: 4rem;
			padding-bottom: 3.2rem;
			padding-left: 4rem;
			z-index: 5;
			position: relative;

			h1 {
				margin-bottom: 0.8rem;
			}

			p {
				margin-bottom: 0;
			}
		}

		&-shadow {
			border-radius: 1px;
			border: 1px solid $off-black;
			background: $orange;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
	}

	
}

.project {

	&-container {
		width: 960px;
		margin: 0 auto;
		margin-top: 12rem;
	}

	@mixin project-color-adjustments($color) {
		.header__back svg g g {
			fill: $color;
		}

		.header__title-shadow {
			background: $color;
		}

		&::selection {
		  background: $color;
		}

		.content .content__quote {
			span::before {
				background-color: $color;
				opacity: 0.4;
			}
		}
	}

	&--is-red {
		@include project-color-adjustments($red);
	}

	&--is-orange {
		@include project-color-adjustments($orange);
	}

	&--is-blue {
		@include project-color-adjustments($blue);
	}

	&--is-purple {
		@include project-color-adjustments($purple);
	}
}

.content {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 10;

	&--is-intro {
		margin-top: 8rem;

		.content__quote {
			margin-bottom: 8rem;
		}
	}

	&--no-top-margin {
		margin-top: 0;
	}

	p {
		font-family: adobe-caslon-pro, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.9rem;
		line-height: 2.9rem;
	}

	ol {
		font-family: adobe-caslon-pro, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.9rem;
		line-height: 2.9rem;
		margin: 0;
		margin-bottom: 2.5rem;
	}

	ul {
		font-family: adobe-caslon-pro, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.9rem;
		line-height: 2.9rem;
		margin: 0;
		margin-bottom: 2.5rem;
	}

	&__experience {
		position: absolute;
		margin-left: 2rem;
		left: 0;

		&.dont-show {
			transition-delay: 0ms;
		}
	}

	&__extend {
		position: relative;

		img {
			max-width: 150%;
			margin-left: 5.2rem;
		}

		&--is-large {
			img {
				max-width: 190%;
			}
		}
	}

	&__quote {
		font-size: 2.4rem;
		line-height: 3.7rem;
		font-family: adobe-caslon-pro, serif;
		font-weight: 400;
		font-style: normal;
		margin-bottom: 4rem;
		z-index: 100;
		position: relative;

		&.dont-show {
			transition-delay: 100ms;
		}

		span {
			width: 100%;
			position: relative;
			z-index: 100;

			&::before {
				content: '';
				z-index: -1;
				position: absolute;
				bottom: 0.5rem;
				height: 1.3rem;
				width: 0;
				background: none;
				transition: all 350ms linear;
			}

			&.show::before {
				width: 100%;
			}
		}
	}

	&__caption {
		width: 100%;
		position: relative;
		text-align: center;
		opacity: 0.5;
		padding-top: 1.6rem;
	}
}


.intro.dont-show {
	transition-delay: 150ms;
}

.footer {
	margin-bottom: 12rem;
	margin-top: 12rem;

	// override base anchor styling
	a {
		border: none;
		text-decoration: none;

		&:hover {
			color: $off-black;
		}
	}

	&__project {
		border-radius: 1px;
		border: 1px solid $off-black;
		background: $beige;
		padding-bottom: 4rem;
		padding-right: 4rem;
		padding-top: 4rem;
		padding-left: 4rem;
		position: relative;

		svg {
			height: 20px;
			position: absolute;
			right: 4rem;
			transition: all 200ms ease-in-out;
			top: 50%;
			transform: translate(0, -50%);
		}

		&-tag {
			position: absolute;
			top: -21px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 1px;
			border: 1px solid $off-black;
			background: $beige;
			padding-top: 0.8rem;
		    padding-right: 1.6rem;
			padding-bottom: 0.8rem;
		    padding-left: 1.6rem;
		    transition: all 200ms ease-in-out;

			&--is-different {
				border-top-right-radius: 24px;
				border-bottom-left-radius: 24px;
			}
		}

		&:hover {
			cursor: pointer;

			svg {
				transform: translate(0.8rem, -50%);
			}
		}

		@mixin focus-area-color($color){
			&:hover {
				.footer__project-tag {
					background: $color;
				}
			}

			svg g g {
				fill: $color;
			}
		}

		// footer specific projects 
		&--is-red {
			@include focus-area-color($red);
		}

		&--is-orange {
			@include focus-area-color($orange);
		}

		&--is-blue {
			@include focus-area-color($blue);
		}

		&--is-purple {
			@include focus-area-color($purple);
		}
	}
}


@media all and (max-width: 799px) {
	.quote {
		font-size: 2.8rem;
		line-height: 4.5rem;
		padding-top: 6rem;
		padding-bottom: 8rem;

		span::before {
			bottom: 1rem;
		}
	}

	.project-container {
		margin-top: 5.2rem;
		width: calc(100% - 4.8rem);
	}

	h1 {
		font-size: 3rem;
		letter-spacing: 1.2px;
	}

	.header {
		padding-left: 2.4rem;

		&__fa-tag {
			display: none;

			/* i tried */ 
			// height: 12rem;
			// width: 12rem;
			// top: -32px;
			// right: 3.2rem;
		}

		&__title-topper {
			padding: 2.4rem;
		}

		&__back {
			margin-left: -2rem;
		}
	}

	.footer {
		&__project:nth-child(1){
			margin-bottom: 5.2rem;
		}
	}

	.content {
		&__experience {
			display: none;
		}

		&__extend {
			position: relative;

			img {
				max-width: 100%;
				margin-left: 0;
			}
		}
	}



	html {
		font-size: 9px;
	}

}