.hero {
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .hero__header-toggle {
    float: left;
    position: realative; }
    .hero__header-toggle .select-wrapper {
      position: relative;
      width: 7.8rem; }
      .hero__header-toggle .select-wrapper::before {
        display: inline-block;
        content: '';
        background-image: url("/img/svgs/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 10px;
        pointer-events: none; }
    .hero__header-toggle select {
      width: 10rem;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .hero__header-icons {
    float: right; }
    .hero__header-icons a {
      margin-right: 1.6rem;
      text-decoration: none; }
      .hero__header-icons a:last-child {
        margin-right: 0; }
      .hero__header-icons a:hover svg g g {
        fill: #111111; }
    .hero__header-icons svg g g {
      transition: all 200ms ease-in-out;
      fill: #C0C0C0; }
  .hero__middle {
    position: relative;
    flex: 1; }
    .hero__middle-center {
      transform: translateY(-50%);
      top: 50%;
      width: 100%;
      position: absolute; }
    .hero__middle-left {
      display: flex;
      justify-content: flex-end;
      margin-right: 4rem; }
      .hero__middle-left .frames {
        position: relative;
        height: 382px;
        width: 312px; }
        .hero__middle-left .frames .frame {
          border-radius: 1px;
          position: absolute;
          height: 348px;
          width: 278px;
          border: 1px solid #111111;
          background: #FFFFFF;
          transition: all 450ms cubic-bezier(0.55, -0.01, 0.32, 1.21); }
          .hero__middle-left .frames .frame img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          .hero__middle-left .frames .frame .not-visible {
            opacity: 0;
            transition: all 450ms ease-in-out; }
            .hero__middle-left .frames .frame .not-visible.visible {
              opacity: 1; }
          .hero__middle-left .frames .frame--4 {
            opacity: 0;
            transform: translate(4.8rem, 4.8rem);
            transition-delay: 600ms;
            z-index: 1; }
          .hero__middle-left .frames .frame--3 {
            opacity: 1;
            transform: translate(3.2rem, 3.2rem);
            transition-delay: 450ms;
            z-index: 10; }
            .hero__middle-left .frames .frame--3.frame--is-hidden {
              opacity: 0;
              transform: translate(4.8rem, 4.8rem); }
          .hero__middle-left .frames .frame--2 {
            opacity: 1;
            transform: translate(1.6rem, 1.6rem);
            transition-delay: 300ms;
            z-index: 100; }
            .hero__middle-left .frames .frame--2.frame--is-hidden {
              opacity: 0;
              transform: translate(3.2rem, 3.2rem); }
          .hero__middle-left .frames .frame--1 {
            opacity: 1;
            transform: translate(0);
            transition-delay: 150ms;
            z-index: 1000; }
            .hero__middle-left .frames .frame--1.frame--is-hidden {
              opacity: 0;
              transform: translate(1.6rem, 1.6rem); }
          .hero__middle-left .frames .frame--0 {
            opacity: 0;
            transform: translate(-1.6rem, -1.6rem);
            transition-delay: 0ms;
            z-index: 10000; }
    .hero__middle-right {
      margin-left: 0; }
      .hero__middle-right .copy {
        margin-top: 8rem; }
  .hero__bottom {
    color: #C0C0C0;
    width: 100%;
    text-align: center;
    transition: all 300ms ease-in-out; }
    .hero__bottom:hover {
      cursor: pointer;
      color: #111111; }
      .hero__bottom:hover .arrow--is-down {
        transform: translateY(2px); }
        .hero__bottom:hover .arrow--is-down svg g g {
          fill: #111111; }

.arrow {
  transition: all 300ms ease-in-out; }
  .arrow--is-down svg g g {
    fill: #C0C0C0;
    transition: all 300ms ease-in-out; }
  .arrow--is-down:hover {
    transform: translateY(2px);
    cursor: pointer; }
    .arrow--is-down:hover svg g g {
      fill: #111111; }

@media all and (max-width: 399px) {
  .hero {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
    .hero__middle {
      margin-top: 8rem; }
      .hero__middle-right .copy {
        margin-top: 4rem; } }

.dont-show {
  opacity: 0;
  transition: all 300ms ease-out; }
  .dont-show.show {
    opacity: 1; }
