.homepage {
  width: calc(100% - 16rem);
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin: 0 auto; }

.hero {
  height: calc(100vh - 16rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .hero__content {
    height: 100%; }
    .hero__content-center {
      height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding-bottom: 8rem; }
      .hero__content-center .center {
        position: relative; }
        .hero__content-center .center__welcome {
          transition: all 300ms ease-in-out;
          opacity: 1;
          position: absolute; }
        .hero__content-center .center__project {
          position: absolute;
          transition: all 300ms ease-in-out;
          opacity: 1;
          position: relative; }
          .hero__content-center .center__project--is-orange .center__project-arrow {
            height: 20px; }
            .hero__content-center .center__project--is-orange .center__project-arrow svg g g {
              fill: #FFAE4A; }
          .hero__content-center .center__project-arrow {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-16px, -50%);
            transition: all 200ms ease-in-out; }
          .hero__content-center .center__project ul {
            list-style: none;
            text-align: left;
            width: 100%;
            padding-left: 2.4rem;
            padding-right: 2.4rem; }
            .hero__content-center .center__project ul li {
              position: relative;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
              .hero__content-center .center__project ul li a {
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 2.4rem;
                padding-bottom: 2.4rem;
                border: none; }
              .hero__content-center .center__project ul li a:hover {
                -webkit-text-stroke-width: 0;
                color: #171717;
                border: none; }
              .hero__content-center .center__project ul li b {
                letter-spacing: 0.5px; }
              .hero__content-center .center__project ul li:last-child {
                border-bottom: 1px solid transparent; }
              .hero__content-center .center__project ul li:hover {
                cursor: pointer; }
                .hero__content-center .center__project ul li:hover .center__project-arrow {
                  transform: translate(0, -50%); }
        .hero__content-center .center--is-hidden {
          opacity: 0;
          pointer-events: none; }
    .hero__content-left {
      height: 100%;
      padding-bottom: 8rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
    .hero__content-right {
      height: 100%;
      padding-bottom: 8rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
  .hero__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .hero__footer-toggle .select-wrapper {
      position: relative;
      display: flex;
      align-items: center; }
      .hero__footer-toggle .select-wrapper__arrow {
        margin-right: 1rem;
        transition: all 200ms ease-in-out;
        height: 20px; }
        .hero__footer-toggle .select-wrapper__arrow svg g g {
          fill: #FFF6EA; }
      .hero__footer-toggle .select-wrapper select {
        background: #FFF6EA;
        cursor: pointer;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 1rem;
        margin-left: -1rem; }
      .hero__footer-toggle .select-wrapper:hover {
        cursor: pointer; }
        .hero__footer-toggle .select-wrapper:hover .select-wrapper__arrow {
          transform: translateX(4px); }
    .hero__footer-icons a {
      margin-right: 1.6rem;
      text-decoration: none;
      border-bottom: none; }
      .hero__footer-icons a:last-child {
        margin-right: 0; }
      .hero__footer-icons a:hover svg g g {
        fill: #FFF6EA;
        stroke: #171717; }
    .hero__footer-icons svg g g {
      fill: #171717; }

.arrow {
  transition: all 300ms ease-in-out; }
  .arrow--is-down svg g g {
    fill: #C0C0C0;
    transition: all 300ms ease-in-out; }
  .arrow--is-down:hover {
    transform: translateY(2px);
    cursor: pointer; }
    .arrow--is-down:hover svg g g {
      fill: #171717; }

.focus-area {
  width: 27.5rem;
  position: relative; }
  .focus-area.dont-show .focus-area__topper {
    opacity: 0;
    transition-duration: 350ms; }
  .focus-area.dont-show .focus-area__shadow {
    opacity: 0; }
  .focus-area.dont-show .focus-area__close {
    opacity: 0; }
  .focus-area.dont-show .focus-area__arrow {
    opacity: 0; }
  .focus-area.show .focus-area__topper {
    transform: translate(0, 0);
    opacity: 1; }
  .focus-area.show .focus-area__shadow {
    transform: translate(0, 0); }
  .focus-area.show .focus-area__arrow {
    transition: all 350ms ease-in-out;
    transform: translate(40px, -50%); }
  .focus-area.pre-pop .focus-area__topper {
    transition: all 300ms ease-in-out; }
  .focus-area.pre-pop .focus-area__arrow {
    transition: all 300ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
    transition-delay: 100ms; }
  .focus-area.pop-out .focus-area__topper {
    transform: translate(-10px, -10px); }
  .focus-area.pop-out .focus-area__arrow {
    transform: translate(-32px, -50%); }
  .focus-area:hover {
    cursor: pointer; }
    .focus-area:hover .focus-area__topper {
      transform: translate(-4px, -4px); }
    .focus-area:hover .focus-area__arrow {
      transform: translate(-24px, -50%); }
  .focus-area--is-raised:hover {
    cursor: pointer; }
    .focus-area--is-raised:hover .focus-area__topper {
      transform: translate(-10px, -10px); }
    .focus-area--is-raised:hover .focus-area__arrow {
      transform: translate(40px, -50%); }
    .focus-area--is-raised:hover .focus-area__close {
      transform: translate(291px, -50%); }
  .focus-area--is-raised .focus-area__topper {
    transform: translate(-10px, -10px); }
  .focus-area--is-raised .focus-area__arrow {
    transform: translate(40px, -50%); }
  .focus-area--is-raised .focus-area__close {
    transform: translate(291px, -50%); }
  .focus-area__topper {
    border-radius: 1px;
    border: 1px solid #171717;
    background: #FFF6EA;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    z-index: 10;
    position: relative;
    text-align: center;
    transition: all 200ms ease-in-out;
    transform: translate(0, 0);
    opacity: 1; }
  .focus-area__arrow {
    position: absolute;
    height: 20px;
    opacity: 1;
    z-index: 5;
    top: 50%;
    transform: translate(-32px, -50%);
    transition: all 200ms ease-in-out; }
  .focus-area__close {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(235px, -50%);
    transition: all 300ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
    opacity: 1; }
  .focus-area__shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1px;
    border: 1px solid #171717;
    z-index: 0;
    transition: all 200ms ease-in-out;
    transform: translate(0, 0);
    opacity: 1; }
  .focus-area--is-red .focus-area__shadow {
    background: #FF6E6E; }
  .focus-area--is-red .focus-area__arrow svg g g {
    fill: #FF6E6E; }
  .focus-area--is-blue .focus-area__shadow {
    background: #8ACCFF; }
  .focus-area--is-blue .focus-area__arrow svg g g {
    fill: #8ACCFF; }
  .focus-area--is-purple .focus-area__shadow {
    background: #CDBCEB; }
  .focus-area--is-purple .focus-area__arrow svg g g {
    fill: #CDBCEB; }
  .focus-area--is-orange .focus-area__shadow {
    background: #FFAE4A; }
  .focus-area--is-orange .focus-area__arrow svg g g {
    fill: #FFAE4A; }
  .focus-area--is-2 {
    margin-top: 4rem; }
  .focus-area--is-3 {
    align-self: flex-end; }
  .focus-area--is-4 {
    align-self: flex-end;
    margin-bottom: 8rem; }

.mobile-show {
  display: none; }

@media all and (max-width: 399px) {
  .hero {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
    .hero__middle {
      margin-top: 8rem; }
      .hero__middle-right .copy {
        margin-top: 4rem; }
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: block; } }

.dont-show {
  opacity: 0;
  transition: all 300ms ease-out; }
  .dont-show.show {
    opacity: 1; }
