@font-face {
  font-family: 'Souvenir';
  src: url("/fonts/Souvenir-Demi.otf");
  font-weight: 500; }

@font-face {
  font-family: 'Souvenir';
  src: url("/fonts/Souvenir-Bold.otf");
  font-weight: 600; }

::selection {
  background: #FFAE4A;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #FFAE4A;
  /* Gecko Browsers */ }

html, body {
  background: #FFF6EA; }

img {
  max-width: 100%; }

body {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px; }

h1 {
  font-family: "Souvenir", serif;
  font-size: 5.2rem;
  letter-spacing: 2.5px;
  font-weight: 600;
  line-height: 1.2; }

h3 {
  font-family: "Souvenir", serif;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  letter-spacing: 0; }

html {
  font-size: 10px;
  color: #171717; }

.max-width {
  max-width: 1300px; }

.body-container {
  width: calc(100% - 16rem);
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin: 0 auto; }

a {
  color: #171717;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1.5px;
  text-decoration: none; }
  a:hover {
    color: #FFF6EA;
    border-bottom: 1px dashed transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #171717; }

.to-hide {
  opacity: 1;
  transition: all 300ms ease-out; }
  .to-hide.hide {
    opacity: 0; }

select {
  margin-bottom: 0;
  padding: 0;
  height: 1.5em; }

@media all and (max-width: 799px) {
  .body-container {
    width: calc(100% - 4.8rem);
    padding-top: 2.4rem;
    padding-bottom: 8rem; } }
