@font-face {
  font-family: 'Souvenir';
  src: url("/fonts/Souvenir-Demi.otf");
  font-weight: 500; }

@font-face {
  font-family: 'Souvenir';
  src: url("/fonts/Souvenir-Bold.otf");
  font-weight: 600; }

::selection {
  background: #FFAE4A91;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #FFAE4A91;
  /* Gecko Browsers */ }

html, body {
  background: #FFF6EA;
  position: relative;
  z-index: -10; }

img {
  max-width: 100%; }
  img.has-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px; }
  img.extra-bottom-margin {
    margin-bottom: 2.4rem; }

body {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px; }

h1 {
  font-family: "Souvenir", serif;
  font-size: 5.2rem;
  letter-spacing: 2.5px;
  font-weight: 600;
  line-height: 1.2; }

h3 {
  font-family: "Souvenir", serif;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  letter-spacing: 0; }

h4 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.8rem;
  font-size: 1.9rem;
  line-height: 2.8rem;
  letter-spacing: 0.2px;
  margin-top: 4rem;
  margin-bottom: 1.6rem; }

h6 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-bottom: 0.8rem; }

html {
  font-size: 10px;
  color: #171717; }

.max-width {
  max-width: 1300px; }

.body-container {
  width: calc(100% - 16rem);
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin: 0 auto; }

a {
  color: #171717;
  text-decoration-style: solid;
  text-decoration-color: rgba(0, 0, 0, 0.5); }
  a:hover {
    cursor: pointer;
    color: #171717;
    text-decoration-color: #FFAE4A; }

.to-hide {
  opacity: 1;
  transition: all 300ms ease-out; }
  .to-hide.hide {
    opacity: 0; }

select {
  margin-bottom: 0;
  padding: 0;
  height: 1.5em; }

@media all and (max-width: 799px) {
  .body-container {
    width: calc(100% - 4.8rem);
    padding-top: 2.4rem;
    padding-bottom: 8rem; } }
