.dont-show, .show-last {
  opacity: 0;
  transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
  transform: translate(-16px, -16px); }
  .dont-show.show, .show-last.show {
    transform: translate(0, 0);
    opacity: 1; }

.header {
  position: relative; }
  .header a {
    border: none;
    text-decoration: none; }
    .header a:hover {
      color: #171717; }
  .header.dont-show-header .header__fa-tag {
    transform: rotate(-16deg) translate(32px, 32px);
    opacity: 0;
    transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21); }
  .header.dont-show-header .header__title-topper {
    transform: translate(16px, 16px);
    opacity: 0;
    transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
    transition-delay: 75ms; }
  .header.dont-show-header .header__title-shadow {
    transform: translate(32px, 32px);
    opacity: 0;
    transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
    transition-delay: 150ms; }
  .header.dont-show-header .header__back {
    transform: translate(32px, 32px);
    transition: all 350ms cubic-bezier(0.55, -0.01, 0.32, 1.21);
    transition-delay: 150ms;
    opacity: 0; }
  .header.show .header__fa-tag {
    transform: rotate(-16deg) translate(0, 0);
    opacity: 1; }
  .header.show .header__title-topper {
    transform: translate(-20px, -20px);
    opacity: 1; }
  .header.show .header__title-shadow {
    transform: translate(0, 0);
    opacity: 1; }
  .header.show .header__back {
    transform: translate(0, 0);
    opacity: 1; }
  .header__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8rem;
    margin-bottom: 5.2rem;
    margin-left: 2rem; }
    .header__back svg {
      transform: rotate(180deg) translateX(0);
      transition: all 200ms ease-in-out;
      margin-right: 0.8rem;
      height: 16px; }
    .header__back:hover {
      cursor: pointer; }
      .header__back:hover svg {
        transform: rotate(180deg) translateX(4px); }
  .header__fa-tag {
    height: 14rem;
    width: 14rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 10rem;
    top: 0;
    transform: rotate(-16deg) translate(0, 0);
    border: 1px solid #171717;
    background: #FFF6EA;
    z-index: 10; }
  .header__title {
    position: relative; }
    .header__title-topper {
      transform: translate(-20px, -20px);
      border-radius: 1px;
      border: 1px solid #171717;
      background: #FFF6EA;
      padding-top: 2.4rem;
      padding-right: 4rem;
      padding-bottom: 3.2rem;
      padding-left: 4rem;
      z-index: 5;
      position: relative; }
      .header__title-topper h1 {
        margin-bottom: 0.8rem; }
      .header__title-topper p {
        margin-bottom: 0; }
    .header__title-shadow {
      border-radius: 1px;
      border: 1px solid #171717;
      background: #FFAE4A;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0; }

.project-container {
  width: 960px;
  margin: 0 auto;
  margin-top: 12rem; }

.project--is-red .header__back svg g g {
  fill: #FF6E6E; }

.project--is-red .header__title-shadow {
  background: #FF6E6E; }

.project--is-red::selection {
  background: #FF6E6E; }

.project--is-red .content .content__quote span::before {
  background-color: #FF6E6E;
  opacity: 0.4; }

.project--is-orange .header__back svg g g {
  fill: #FFAE4A; }

.project--is-orange .header__title-shadow {
  background: #FFAE4A; }

.project--is-orange::selection {
  background: #FFAE4A; }

.project--is-orange .content .content__quote span::before {
  background-color: #FFAE4A;
  opacity: 0.4; }

.project--is-blue .header__back svg g g {
  fill: #8ACCFF; }

.project--is-blue .header__title-shadow {
  background: #8ACCFF; }

.project--is-blue::selection {
  background: #8ACCFF; }

.project--is-blue .content .content__quote span::before {
  background-color: #8ACCFF;
  opacity: 0.4; }

.project--is-purple .header__back svg g g {
  fill: #CDBCEB; }

.project--is-purple .header__title-shadow {
  background: #CDBCEB; }

.project--is-purple::selection {
  background: #CDBCEB; }

.project--is-purple .content .content__quote span::before {
  background-color: #CDBCEB;
  opacity: 0.4; }

.content {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10; }
  .content--is-intro {
    margin-top: 8rem; }
    .content--is-intro .content__quote {
      margin-bottom: 8rem; }
  .content p {
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9rem;
    line-height: 2.9rem; }
  .content__experience {
    position: absolute;
    margin-left: 2rem;
    left: 0; }
    .content__experience.dont-show {
      transition-delay: 0ms; }
  .content__extend {
    position: relative; }
    .content__extend img {
      max-width: 150%;
      margin-left: 5.2rem; }
    .content__extend--is-large img {
      max-width: 190%; }
  .content__quote {
    font-size: 2.4rem;
    line-height: 3.7rem;
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4rem;
    z-index: 100;
    position: relative; }
    .content__quote.dont-show {
      transition-delay: 100ms; }
    .content__quote span {
      width: 100%;
      position: relative;
      z-index: 100; }
      .content__quote span::before {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 1.5rem;
        height: 1.3rem;
        width: 0;
        background: none;
        transition: all 350ms linear; }
      .content__quote span.show::before {
        width: 100%; }

.intro.dont-show {
  transition-delay: 150ms; }

.footer {
  margin-bottom: 12rem;
  margin-top: 12rem; }
  .footer a {
    border: none;
    text-decoration: none; }
    .footer a:hover {
      color: #171717; }
  .footer__project {
    border-radius: 1px;
    border: 1px solid #171717;
    background: #FFF6EA;
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-left: 4rem;
    position: relative; }
    .footer__project svg {
      height: 20px;
      position: absolute;
      right: 4rem;
      transition: all 200ms ease-in-out;
      top: 50%;
      transform: translate(0, -50%); }
    .footer__project-tag {
      position: absolute;
      top: -21px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 1px;
      border: 1px solid #171717;
      background: #FFF6EA;
      padding-top: 0.8rem;
      padding-right: 1.6rem;
      padding-bottom: 0.8rem;
      padding-left: 1.6rem;
      transition: all 200ms ease-in-out; }
      .footer__project-tag--is-different {
        border-top-right-radius: 24px;
        border-bottom-left-radius: 24px; }
    .footer__project:hover {
      cursor: pointer; }
      .footer__project:hover svg {
        transform: translate(0.8rem, -50%); }
    .footer__project--is-red:hover .footer__project-tag {
      background: #FF6E6E; }
    .footer__project--is-red svg g g {
      fill: #FF6E6E; }
    .footer__project--is-orange:hover .footer__project-tag {
      background: #FFAE4A; }
    .footer__project--is-orange svg g g {
      fill: #FFAE4A; }
    .footer__project--is-blue:hover .footer__project-tag {
      background: #8ACCFF; }
    .footer__project--is-blue svg g g {
      fill: #8ACCFF; }
    .footer__project--is-purple:hover .footer__project-tag {
      background: #CDBCEB; }
    .footer__project--is-purple svg g g {
      fill: #CDBCEB; }

@media all and (max-width: 799px) {
  .quote {
    font-size: 2.8rem;
    line-height: 4.5rem;
    padding-top: 6rem;
    padding-bottom: 8rem; }
    .quote span::before {
      bottom: 1rem; }
  .project-container {
    margin-top: 5.2rem;
    width: calc(100% - 4.8rem); }
  h1 {
    font-size: 3rem;
    letter-spacing: 1.2px; }
  .header {
    padding-left: 2.4rem; }
    .header__fa-tag {
      display: none;
      /* i tried */ }
    .header__title-topper {
      padding: 2.4rem; }
    .header__back {
      margin-left: -2rem; }
  .footer__project:nth-child(1) {
    margin-bottom: 5.2rem; }
  .content__experience {
    display: none; }
  .content__extend {
    position: relative; }
    .content__extend img {
      max-width: 100%;
      margin-left: 0; }
  html {
    font-size: 9px; } }
