@-moz-keyframes spring {
  0% {
    height: 0vh;
  }
  1% {
    height: 0.319592775224812vh;
  }
  2% {
    height: 1.224284213803127vh;
  }
  3% {
    height: 2.632589329496494vh;
  }
  4% {
    height: 4.463707980578045vh;
  }
  5% {
    height: 6.638815892637396vh;
  }
  6% {
    height: 9.082176163802012vh;
  }
  7% {
    height: 11.722072966387051vh;
  }
  8% {
    height: 14.491571436778347vh;
  }
  9% {
    height: 17.329110621638158vh;
  }
  10% {
    height: 20.1789385233822vh;
  }
  11% {
    height: 22.99139937408432vh;
  }
  12% {
    height: 25.723085388563952vh;
  }
  13% {
    height: 28.336865307301053vh;
  }
  14% {
    height: 30.801803570335693vh;
  }
  15% {
    height: 33.09298368809775vh;
  }
  16% {
    height: 35.191249526690015vh;
  }
  17% {
    height: 37.082878458873424vh;
  }
  18% {
    height: 38.75919927684988vh;
  }
  19% {
    height: 40.21616790751434vh;
  }
  20% {
    height: 41.45391259520398vh;
  }
  21% {
    height: 42.47626000917713vh;
  }
  22% {
    height: 43.29025217492253vh;
  }
  23% {
    height: 43.90566361158667vh;
  }
  24% {
    height: 44.33452679288166vh;
  }
  25% {
    height: 44.59067307695057vh;
  }
  26% {
    height: 44.68929495612604vh;
  }
  27% {
    height: 44.64653490909063vh;
  }
  28% {
    height: 44.47910454324253vh;
  }
  29% {
    height: 44.20393719209081vh;
  }
  30% {
    height: 43.83787607734489vh;
  }
  31% {
    height: 43.39739922172124vh;
  }
  32% {
    height: 42.898381650064636vh;
  }
  33% {
    height: 42.35589474461802vh;
  }
  34% {
    height: 41.78404181784512vh;
  }
  35% {
    height: 41.19582875765856vh;
  }
  36% {
    height: 40.603067847783585vh;
  }
  37% {
    height: 40.01631264379597vh;
  }
  38% {
    height: 39.444821612691975vh;
  }
  39% {
    height: 38.89654775829092vh;
  }
  40% {
    height: 38.37815153234611vh;
  }
  41% {
    height: 37.89503420857737vh;
  }
  42% {
    height: 37.45138879669962vh;
  }
  43% {
    height: 37.0502656296541vh;
  }
  44% {
    height: 36.69364994054245vh;
  }
  45% {
    height: 36.382548674944395vh;
  }
  46% {
    height: 36.11708405146755vh;
  }
  47% {
    height: 35.89659154708164vh;
  }
  48% {
    height: 35.7197201095084vh;
  }
  49% {
    height: 35.5845326777505vh;
  }
  50% {
    height: 35.48860524458265vh;
  }
  51% {
    height: 35.42912298906778vh;
  }
  52% {
    height: 35.40297212976641vh;
  }
  53% {
    height: 35.40682647419275vh;
  }
  54% {
    height: 35.43722776791096vh;
  }
  55% {
    height: 35.49065920529182vh;
  }
  56% {
    height: 35.563611607492355vh;
  }
  57% {
    height: 35.65264199363129vh;
  }
  58% {
    height: 35.754424409653296vh;
  }
  59% {
    height: 35.86579302400374vh;
  }
  60% {
    height: 35.98377763937572vh;
  }
  61% {
    height: 36.10563187384103vh;
  }
  62% {
    height: 36.22885436715823vh;
  }
  63% {
    height: 36.351203438035206vh;
  }
  64% {
    height: 36.470705688051474vh;
  }
  65% {
    height: 36.58565908110827vh;
  }
  66% {
    height: 36.694631092014916vh;
  }
  67% {
    height: 36.79645248713vh;
  }
  68% {
    height: 36.8902073545443vh;
  }
  69% {
    height: 36.97521997349139vh;
  }
  70% {
    height: 37.051039095456865vh;
  }
  71% {
    height: 37.1174202058966vh;
  }
  72% {
    height: 37.17430628567669vh;
  }
  73% {
    height: 37.22180757633673vh;
  }
  74% {
    height: 37.26018079931163vh;
  }
  75% {
    height: 37.28980824327913vh;
  }
  76% {
    height: 37.3111770909631vh;
  }
  77% {
    height: 37.32485930650229vh;
  }
  78% {
    height: 37.33149236135423vh;
  }
  79% {
    height: 37.331761030792364vh;
  }
  80% {
    height: 37.326380445209885vh;
  }
  81% {
    height: 37.31608054821058vh;
  }
  82% {
    height: 37.30159205719986vh;
  }
  83% {
    height: 37.283634000707835vh;
  }
  84% {
    height: 37.262902862428135vh;
  }
  85% {
    height: 37.24006333409514vh;
  }
  86% {
    height: 37.215740653083316vh;
  }
  87% {
    height: 37.19051447497301vh;
  }
  88% {
    height: 37.16491421001642vh;
  }
  89% {
    height: 37.139415739106646vh;
  }
  90% {
    height: 37.11443940625426vh;
  }
  91% {
    height: 37.09034918052024vh;
  }
  92% {
    height: 37.06745286559887vh;
  }
  93% {
    height: 37.04600323818089vh;
  }
  94% {
    height: 37.02619998948815vh;
  }
  95% {
    height: 37.00819234573131vh;
  }
  96% {
    height: 36.99208224737972vh;
  }
  97% {
    height: 36.977927969921986vh;
  }
  98% {
    height: 36.96574807409413vh;
  }
  99% {
    height: 36.95552558271393vh;
  }
  100% {
    height: 36.94721228679624vh;
  }
}
@-webkit-keyframes spring {
  0% {
    height: 0vh;
  }
  1% {
    height: 0.319592775224812vh;
  }
  2% {
    height: 1.224284213803127vh;
  }
  3% {
    height: 2.632589329496494vh;
  }
  4% {
    height: 4.463707980578045vh;
  }
  5% {
    height: 6.638815892637396vh;
  }
  6% {
    height: 9.082176163802012vh;
  }
  7% {
    height: 11.722072966387051vh;
  }
  8% {
    height: 14.491571436778347vh;
  }
  9% {
    height: 17.329110621638158vh;
  }
  10% {
    height: 20.1789385233822vh;
  }
  11% {
    height: 22.99139937408432vh;
  }
  12% {
    height: 25.723085388563952vh;
  }
  13% {
    height: 28.336865307301053vh;
  }
  14% {
    height: 30.801803570335693vh;
  }
  15% {
    height: 33.09298368809775vh;
  }
  16% {
    height: 35.191249526690015vh;
  }
  17% {
    height: 37.082878458873424vh;
  }
  18% {
    height: 38.75919927684988vh;
  }
  19% {
    height: 40.21616790751434vh;
  }
  20% {
    height: 41.45391259520398vh;
  }
  21% {
    height: 42.47626000917713vh;
  }
  22% {
    height: 43.29025217492253vh;
  }
  23% {
    height: 43.90566361158667vh;
  }
  24% {
    height: 44.33452679288166vh;
  }
  25% {
    height: 44.59067307695057vh;
  }
  26% {
    height: 44.68929495612604vh;
  }
  27% {
    height: 44.64653490909063vh;
  }
  28% {
    height: 44.47910454324253vh;
  }
  29% {
    height: 44.20393719209081vh;
  }
  30% {
    height: 43.83787607734489vh;
  }
  31% {
    height: 43.39739922172124vh;
  }
  32% {
    height: 42.898381650064636vh;
  }
  33% {
    height: 42.35589474461802vh;
  }
  34% {
    height: 41.78404181784512vh;
  }
  35% {
    height: 41.19582875765856vh;
  }
  36% {
    height: 40.603067847783585vh;
  }
  37% {
    height: 40.01631264379597vh;
  }
  38% {
    height: 39.444821612691975vh;
  }
  39% {
    height: 38.89654775829092vh;
  }
  40% {
    height: 38.37815153234611vh;
  }
  41% {
    height: 37.89503420857737vh;
  }
  42% {
    height: 37.45138879669962vh;
  }
  43% {
    height: 37.0502656296541vh;
  }
  44% {
    height: 36.69364994054245vh;
  }
  45% {
    height: 36.382548674944395vh;
  }
  46% {
    height: 36.11708405146755vh;
  }
  47% {
    height: 35.89659154708164vh;
  }
  48% {
    height: 35.7197201095084vh;
  }
  49% {
    height: 35.5845326777505vh;
  }
  50% {
    height: 35.48860524458265vh;
  }
  51% {
    height: 35.42912298906778vh;
  }
  52% {
    height: 35.40297212976641vh;
  }
  53% {
    height: 35.40682647419275vh;
  }
  54% {
    height: 35.43722776791096vh;
  }
  55% {
    height: 35.49065920529182vh;
  }
  56% {
    height: 35.563611607492355vh;
  }
  57% {
    height: 35.65264199363129vh;
  }
  58% {
    height: 35.754424409653296vh;
  }
  59% {
    height: 35.86579302400374vh;
  }
  60% {
    height: 35.98377763937572vh;
  }
  61% {
    height: 36.10563187384103vh;
  }
  62% {
    height: 36.22885436715823vh;
  }
  63% {
    height: 36.351203438035206vh;
  }
  64% {
    height: 36.470705688051474vh;
  }
  65% {
    height: 36.58565908110827vh;
  }
  66% {
    height: 36.694631092014916vh;
  }
  67% {
    height: 36.79645248713vh;
  }
  68% {
    height: 36.8902073545443vh;
  }
  69% {
    height: 36.97521997349139vh;
  }
  70% {
    height: 37.051039095456865vh;
  }
  71% {
    height: 37.1174202058966vh;
  }
  72% {
    height: 37.17430628567669vh;
  }
  73% {
    height: 37.22180757633673vh;
  }
  74% {
    height: 37.26018079931163vh;
  }
  75% {
    height: 37.28980824327913vh;
  }
  76% {
    height: 37.3111770909631vh;
  }
  77% {
    height: 37.32485930650229vh;
  }
  78% {
    height: 37.33149236135423vh;
  }
  79% {
    height: 37.331761030792364vh;
  }
  80% {
    height: 37.326380445209885vh;
  }
  81% {
    height: 37.31608054821058vh;
  }
  82% {
    height: 37.30159205719986vh;
  }
  83% {
    height: 37.283634000707835vh;
  }
  84% {
    height: 37.262902862428135vh;
  }
  85% {
    height: 37.24006333409514vh;
  }
  86% {
    height: 37.215740653083316vh;
  }
  87% {
    height: 37.19051447497301vh;
  }
  88% {
    height: 37.16491421001642vh;
  }
  89% {
    height: 37.139415739106646vh;
  }
  90% {
    height: 37.11443940625426vh;
  }
  91% {
    height: 37.09034918052024vh;
  }
  92% {
    height: 37.06745286559887vh;
  }
  93% {
    height: 37.04600323818089vh;
  }
  94% {
    height: 37.02619998948815vh;
  }
  95% {
    height: 37.00819234573131vh;
  }
  96% {
    height: 36.99208224737972vh;
  }
  97% {
    height: 36.977927969921986vh;
  }
  98% {
    height: 36.96574807409413vh;
  }
  99% {
    height: 36.95552558271393vh;
  }
  100% {
    height: 36.94721228679624vh;
  }
}
@-o-keyframes spring {
  0% {
    height: 0vh;
  }
  1% {
    height: 0.319592775224812vh;
  }
  2% {
    height: 1.224284213803127vh;
  }
  3% {
    height: 2.632589329496494vh;
  }
  4% {
    height: 4.463707980578045vh;
  }
  5% {
    height: 6.638815892637396vh;
  }
  6% {
    height: 9.082176163802012vh;
  }
  7% {
    height: 11.722072966387051vh;
  }
  8% {
    height: 14.491571436778347vh;
  }
  9% {
    height: 17.329110621638158vh;
  }
  10% {
    height: 20.1789385233822vh;
  }
  11% {
    height: 22.99139937408432vh;
  }
  12% {
    height: 25.723085388563952vh;
  }
  13% {
    height: 28.336865307301053vh;
  }
  14% {
    height: 30.801803570335693vh;
  }
  15% {
    height: 33.09298368809775vh;
  }
  16% {
    height: 35.191249526690015vh;
  }
  17% {
    height: 37.082878458873424vh;
  }
  18% {
    height: 38.75919927684988vh;
  }
  19% {
    height: 40.21616790751434vh;
  }
  20% {
    height: 41.45391259520398vh;
  }
  21% {
    height: 42.47626000917713vh;
  }
  22% {
    height: 43.29025217492253vh;
  }
  23% {
    height: 43.90566361158667vh;
  }
  24% {
    height: 44.33452679288166vh;
  }
  25% {
    height: 44.59067307695057vh;
  }
  26% {
    height: 44.68929495612604vh;
  }
  27% {
    height: 44.64653490909063vh;
  }
  28% {
    height: 44.47910454324253vh;
  }
  29% {
    height: 44.20393719209081vh;
  }
  30% {
    height: 43.83787607734489vh;
  }
  31% {
    height: 43.39739922172124vh;
  }
  32% {
    height: 42.898381650064636vh;
  }
  33% {
    height: 42.35589474461802vh;
  }
  34% {
    height: 41.78404181784512vh;
  }
  35% {
    height: 41.19582875765856vh;
  }
  36% {
    height: 40.603067847783585vh;
  }
  37% {
    height: 40.01631264379597vh;
  }
  38% {
    height: 39.444821612691975vh;
  }
  39% {
    height: 38.89654775829092vh;
  }
  40% {
    height: 38.37815153234611vh;
  }
  41% {
    height: 37.89503420857737vh;
  }
  42% {
    height: 37.45138879669962vh;
  }
  43% {
    height: 37.0502656296541vh;
  }
  44% {
    height: 36.69364994054245vh;
  }
  45% {
    height: 36.382548674944395vh;
  }
  46% {
    height: 36.11708405146755vh;
  }
  47% {
    height: 35.89659154708164vh;
  }
  48% {
    height: 35.7197201095084vh;
  }
  49% {
    height: 35.5845326777505vh;
  }
  50% {
    height: 35.48860524458265vh;
  }
  51% {
    height: 35.42912298906778vh;
  }
  52% {
    height: 35.40297212976641vh;
  }
  53% {
    height: 35.40682647419275vh;
  }
  54% {
    height: 35.43722776791096vh;
  }
  55% {
    height: 35.49065920529182vh;
  }
  56% {
    height: 35.563611607492355vh;
  }
  57% {
    height: 35.65264199363129vh;
  }
  58% {
    height: 35.754424409653296vh;
  }
  59% {
    height: 35.86579302400374vh;
  }
  60% {
    height: 35.98377763937572vh;
  }
  61% {
    height: 36.10563187384103vh;
  }
  62% {
    height: 36.22885436715823vh;
  }
  63% {
    height: 36.351203438035206vh;
  }
  64% {
    height: 36.470705688051474vh;
  }
  65% {
    height: 36.58565908110827vh;
  }
  66% {
    height: 36.694631092014916vh;
  }
  67% {
    height: 36.79645248713vh;
  }
  68% {
    height: 36.8902073545443vh;
  }
  69% {
    height: 36.97521997349139vh;
  }
  70% {
    height: 37.051039095456865vh;
  }
  71% {
    height: 37.1174202058966vh;
  }
  72% {
    height: 37.17430628567669vh;
  }
  73% {
    height: 37.22180757633673vh;
  }
  74% {
    height: 37.26018079931163vh;
  }
  75% {
    height: 37.28980824327913vh;
  }
  76% {
    height: 37.3111770909631vh;
  }
  77% {
    height: 37.32485930650229vh;
  }
  78% {
    height: 37.33149236135423vh;
  }
  79% {
    height: 37.331761030792364vh;
  }
  80% {
    height: 37.326380445209885vh;
  }
  81% {
    height: 37.31608054821058vh;
  }
  82% {
    height: 37.30159205719986vh;
  }
  83% {
    height: 37.283634000707835vh;
  }
  84% {
    height: 37.262902862428135vh;
  }
  85% {
    height: 37.24006333409514vh;
  }
  86% {
    height: 37.215740653083316vh;
  }
  87% {
    height: 37.19051447497301vh;
  }
  88% {
    height: 37.16491421001642vh;
  }
  89% {
    height: 37.139415739106646vh;
  }
  90% {
    height: 37.11443940625426vh;
  }
  91% {
    height: 37.09034918052024vh;
  }
  92% {
    height: 37.06745286559887vh;
  }
  93% {
    height: 37.04600323818089vh;
  }
  94% {
    height: 37.02619998948815vh;
  }
  95% {
    height: 37.00819234573131vh;
  }
  96% {
    height: 36.99208224737972vh;
  }
  97% {
    height: 36.977927969921986vh;
  }
  98% {
    height: 36.96574807409413vh;
  }
  99% {
    height: 36.95552558271393vh;
  }
  100% {
    height: 36.94721228679624vh;
  }
}
@keyframes spring {
  0% {
    height: 0vh;
  }
  1% {
    height: 0.319592775224812vh;
  }
  2% {
    height: 1.224284213803127vh;
  }
  3% {
    height: 2.632589329496494vh;
  }
  4% {
    height: 4.463707980578045vh;
  }
  5% {
    height: 6.638815892637396vh;
  }
  6% {
    height: 9.082176163802012vh;
  }
  7% {
    height: 11.722072966387051vh;
  }
  8% {
    height: 14.491571436778347vh;
  }
  9% {
    height: 17.329110621638158vh;
  }
  10% {
    height: 20.1789385233822vh;
  }
  11% {
    height: 22.99139937408432vh;
  }
  12% {
    height: 25.723085388563952vh;
  }
  13% {
    height: 28.336865307301053vh;
  }
  14% {
    height: 30.801803570335693vh;
  }
  15% {
    height: 33.09298368809775vh;
  }
  16% {
    height: 35.191249526690015vh;
  }
  17% {
    height: 37.082878458873424vh;
  }
  18% {
    height: 38.75919927684988vh;
  }
  19% {
    height: 40.21616790751434vh;
  }
  20% {
    height: 41.45391259520398vh;
  }
  21% {
    height: 42.47626000917713vh;
  }
  22% {
    height: 43.29025217492253vh;
  }
  23% {
    height: 43.90566361158667vh;
  }
  24% {
    height: 44.33452679288166vh;
  }
  25% {
    height: 44.59067307695057vh;
  }
  26% {
    height: 44.68929495612604vh;
  }
  27% {
    height: 44.64653490909063vh;
  }
  28% {
    height: 44.47910454324253vh;
  }
  29% {
    height: 44.20393719209081vh;
  }
  30% {
    height: 43.83787607734489vh;
  }
  31% {
    height: 43.39739922172124vh;
  }
  32% {
    height: 42.898381650064636vh;
  }
  33% {
    height: 42.35589474461802vh;
  }
  34% {
    height: 41.78404181784512vh;
  }
  35% {
    height: 41.19582875765856vh;
  }
  36% {
    height: 40.603067847783585vh;
  }
  37% {
    height: 40.01631264379597vh;
  }
  38% {
    height: 39.444821612691975vh;
  }
  39% {
    height: 38.89654775829092vh;
  }
  40% {
    height: 38.37815153234611vh;
  }
  41% {
    height: 37.89503420857737vh;
  }
  42% {
    height: 37.45138879669962vh;
  }
  43% {
    height: 37.0502656296541vh;
  }
  44% {
    height: 36.69364994054245vh;
  }
  45% {
    height: 36.382548674944395vh;
  }
  46% {
    height: 36.11708405146755vh;
  }
  47% {
    height: 35.89659154708164vh;
  }
  48% {
    height: 35.7197201095084vh;
  }
  49% {
    height: 35.5845326777505vh;
  }
  50% {
    height: 35.48860524458265vh;
  }
  51% {
    height: 35.42912298906778vh;
  }
  52% {
    height: 35.40297212976641vh;
  }
  53% {
    height: 35.40682647419275vh;
  }
  54% {
    height: 35.43722776791096vh;
  }
  55% {
    height: 35.49065920529182vh;
  }
  56% {
    height: 35.563611607492355vh;
  }
  57% {
    height: 35.65264199363129vh;
  }
  58% {
    height: 35.754424409653296vh;
  }
  59% {
    height: 35.86579302400374vh;
  }
  60% {
    height: 35.98377763937572vh;
  }
  61% {
    height: 36.10563187384103vh;
  }
  62% {
    height: 36.22885436715823vh;
  }
  63% {
    height: 36.351203438035206vh;
  }
  64% {
    height: 36.470705688051474vh;
  }
  65% {
    height: 36.58565908110827vh;
  }
  66% {
    height: 36.694631092014916vh;
  }
  67% {
    height: 36.79645248713vh;
  }
  68% {
    height: 36.8902073545443vh;
  }
  69% {
    height: 36.97521997349139vh;
  }
  70% {
    height: 37.051039095456865vh;
  }
  71% {
    height: 37.1174202058966vh;
  }
  72% {
    height: 37.17430628567669vh;
  }
  73% {
    height: 37.22180757633673vh;
  }
  74% {
    height: 37.26018079931163vh;
  }
  75% {
    height: 37.28980824327913vh;
  }
  76% {
    height: 37.3111770909631vh;
  }
  77% {
    height: 37.32485930650229vh;
  }
  78% {
    height: 37.33149236135423vh;
  }
  79% {
    height: 37.331761030792364vh;
  }
  80% {
    height: 37.326380445209885vh;
  }
  81% {
    height: 37.31608054821058vh;
  }
  82% {
    height: 37.30159205719986vh;
  }
  83% {
    height: 37.283634000707835vh;
  }
  84% {
    height: 37.262902862428135vh;
  }
  85% {
    height: 37.24006333409514vh;
  }
  86% {
    height: 37.215740653083316vh;
  }
  87% {
    height: 37.19051447497301vh;
  }
  88% {
    height: 37.16491421001642vh;
  }
  89% {
    height: 37.139415739106646vh;
  }
  90% {
    height: 37.11443940625426vh;
  }
  91% {
    height: 37.09034918052024vh;
  }
  92% {
    height: 37.06745286559887vh;
  }
  93% {
    height: 37.04600323818089vh;
  }
  94% {
    height: 37.02619998948815vh;
  }
  95% {
    height: 37.00819234573131vh;
  }
  96% {
    height: 36.99208224737972vh;
  }
  97% {
    height: 36.977927969921986vh;
  }
  98% {
    height: 36.96574807409413vh;
  }
  99% {
    height: 36.95552558271393vh;
  }
  100% {
    height: 36.94721228679624vh;
  }
}
