extends project

block bgcss
	link(rel='stylesheet' type='text/css' href='css/blue.css')
block head-img
	.head-img(style="background-image: url('img/hackfsuOpening.jpg')")

block proj-title
	| HackFSU 
block proj-position
	| Director
block proj-date
	| Spring 2014 - Present
block proj-skills
	| Community Building + Project Management + Event Coordination + Sponsor Outreach
block proj-head-other
	.row.skills
		.twelve.columns
			span.mega-octicon.octicon-globe
			| <a href='http://www.hackfsu.com/' target='_blank'>hackfsu.com</a>


block proj-content
	| I was fortunate enough to jump on the first HackFSU organizing team during the second semester of my Freshman year. HackFSU '14 kicked off a pretty big hacker movement in the state of Florida, which we've been working hard to grow ever since. Our yearly event has given me an extraodinary opportunity to learn about growing a team, building an experience worth traveling to, and building relationships with corporate and startup sponsors. I became the Director of our second iteration and will be joined by two Co-Directors for our third year in Spring '16, where I will be running User Experience.

	<br />
	<br />
	iframe(src="https://www.youtube.com/embed/VtgGd9kW550")

	.img-title
		| HackFSU '15 promo video with the organizing team.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackfsuOpening.jpg')
	.img-title
		| HackFSU '15 opening ceremony.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackfsuOpeningTeam.jpg')
	.img-title
		| HackFSU '15 opening ceremony.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackfsuNintendo.JPG')
	.img-title
		| HackFSU '15 90s photoshoot for marketing material.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackfsuFirstTeam.jpg')
	.img-title
		| Most of the first HackFSU organizing team.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackconTwo.jpg')
	.img-title
		| Taken at the second <a href='http://www.hackcon.io' target='_blank'>Hackcon</a>, a conference for student hackathon organizers, hosted in New York City.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackfsuPhotobooth.jpg')
	.img-title
		| Organizing team in the photobooth at HackFSU '15.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hackfsuHackgt.jpg')
	.img-title
		| Spring '15 staff shirt alongside both year's hacker shirts, taken at <a href='http://hackgt.com' target='_blank'>HackGT</a> Fall '15. We realized we had all three shirts after we started the photobooth.
	<br />
	<br />
	<br />
