extends project

block bgcss
	link(rel='stylesheet' type='text/css' href='css/purple.css')
block head-img
	.head-img(style="background-image: url('img/technoleDuke.jpg')")

block proj-title
	| Technole 
block proj-position
	| Member & HackFSU Director
block proj-date
	| Fall 2014 - Present
block proj-skills
	| Community Building + Team Management
block proj-head-other
	.row.skills
		.twelve.columns
			span.mega-octicon.octicon-globe
			| <a href='http://www.technole.org/' target='_blank'>technole.org</a>


block proj-content
	| Originally named TechNOLEgy, this student organization at Florida State University was started the summer before my Freshman year. As soon as I heard about them I started attending meetings and getting involved. The following semester, <a href='/hackfsu'>HackFSU</a> was born and the group has snowballed since. Heavily inspired by the hacker culture, we strive to make sure every student, no matter their major, is introduced to the realization that they can build and create anything they can think of. 
	<br />
	<br />
	| Traveling to hackathons across the nation plays a large role in our members' education and growth as creators and as a community. Since we started, we have organized travel to Miami, UF, University of North Carolina, Georgia Tech, Duke, University of Michigan, Stanford, Virginia Tech, Purdue, University of Pennsylvania, San Francisco, and University of Georgia. Although we are still a young organization, we have become well connected with the growing tech community in Tallahassee and Florida as a whole. 
	<br />
	<br />
	img(src="img/technoleDuke.jpg")

	.img-title
		| FSU hackers at HackDuke Fall '14
	<br />
	<br />
	<br />
	<br />
	img(src='img/technoleCover.png')
	.img-title
		| A marketing piece for Technole.
	<br />
	<br />
	<br />
	<br />
	img(src='img/technoleBooth.jpg')
	.img-title
		| Posters and booth setup for involvement fairs & market wednesdays.
	<br />
	<br />
	<br />
	<br />
	img(src='img/technolemhacks.JPG')
	.img-title
		| The Florida bus that went up to <a href='http://www.mhacks.org' target='_blank'>MHacks</a> in Fall '15. There were more than 60 Florida Hackers at the event that weekend.
	<br />
	<br />
	<br />
	<br />
	img(src='img/technoleWinter.jpg')
	.img-title
		| The Technole squad that drove up in a twelve passenger van to <a href='http://www.mhacks.org' target='_blank'>MHacks</a> in Spring '15.
	<br />
	<br />
	<br />
	<br />
	img(src='img/hhsouthPic.jpg')
	.img-title
		| The Florida bus that drove up to <a href='http://hackgt.com' target='_blank'>HackGT</a> in Fall '15. There were a little over 50 Florida Hackers that came to hack with us, with a student from UF taking first place.
	<br />
	<br />
	<br />
