.intro
	.intro__header 
		h3 Heyo! I'm Norm.
		p.large.max391 I'm an <a href="https://www.are.na/teal/artist-founder" target="_blank">Artist-Founder</a> (<i>n.</i>) Someone who creates organizations as art. 
		p.large.max391 Myself and <a href="https://yatu.xyz/" target="_blank">Yatú</a>, a creative collaborator of 10 years, publish our research on <a href="https://recordsofthought.com" target="_blank">Records of Thought</a>. Come for the feelings, stay for the thoughts.
	.intro__divider 
	.intro__works
		.intro__label SELECTED WORKS
		p <a href="https://usb.club/about" target="_blank">USB Club</a>
		p <a href="https://www.youtube.com/live/Fya7p3YAwQA?t=23133s" target="_blank">Campus Complex</a>
		p <a href="https://tealprocess.net" target="_blank">Teal Process & Company</a>
		p <a href="https://medium.com/plaid-design/concepting-periodical-c19a493cb7cf" target="_blank">Concepting at Plaid</a>
		p <a href="https://www.youtube.com/live/UqbO-gRyTdE?feature=shared&t=4690" target="_blank">Learner at SFPC</a>
		p <a href="https://medium.com/florida-hackers/the-start-e8056d2780f5" target="_blank">Florida Hackers</a>
	.intro__divider 
	.intro__story
		.intro__label MY STORY
		p I've come to discover that I'm an inherently curious and collaborative human. I owe it to the encouraging environments I grew up in and helped foster throughout my life.

		p I spent my early years in Michigan, selling stop-motion short films I made in 5th grade and hacking my high-school's computer system after discovering bash scripts.

		p I failed out of my computer science program at Florida State because I spent all my time organizing and attending hackathons. I still graduated, my friends chalk it up to the luck of the Irish.

		p Having found design & art at the end of school, I joined Plaid as a design intern. After 4 years in SF I headed out to NYC in search of Art over Tech. 

		p In New York I was able to take a year off from corporate work. I shedded the 9-5 clock, started songwriting, and published some theories with Yatú. It was an extremely formative year.

		p During this time we looked to turn our concepts and work into businesses. Yatú and I co-founded USB Club, traveled the world with a machine that dispenses files to USBs, and built a network to re-connect.

		p Teal Process & Company was started between us and some friends in college. It's the root of all of our creations and design philosophies. We do our best work together, and even better work with company. 

		p The rest of the story is yet to be written. As it is, it'll be published on <a href="https://recordsofthought.com" target="_blank">Records of Thought</a> :)
