.hero__footer-icons
	a(href='https://www.are.na/matt-o-hagan' target='_blank' rel='noopener noreferrer')
		include ../svgs/arena-logo.svg
	a(href='https://www.instagram.com/mattohagan/' target='_blank' rel='noopener noreferrer')
		include ../svgs/ig-logo.svg