.hero__footer-icons
	a(href='https://www.are.na/norman-o-hagan' target='_blank' rel='noopener noreferrer')
		include ../svgs/arena-logo.svg
	a(href='https://www.instagram.com/dayswegotaway/' target='_blank' rel='noopener noreferrer')
		include ../svgs/ig-logo.svg
	a(href='https://www.linkedin.com/in/norm-o-hagan-865485a5/' target='_blank' rel='noopener noreferrer')
		include ../svgs/linkedin-logo.svg
