.hero__footer-icons
	a(href='https://www.are.na/norman-connor' target='_blank' rel='noopener noreferrer')
		include ../svgs/arena-logo.svg
	a(href='https://www.instagram.com/whosnorman/' target='_blank' rel='noopener noreferrer')
		include ../svgs/ig-logo.svg
