.hero__footer-toggle
	.select-wrapper
		.select-wrapper__arrow
			include ../svgs/icon-arrow.svg
		select
			option(value=1) v1.2014
			option(value=2) v2.2016
			option(value=3) v3.2017
			option(value=4) v4.2018
			option(value=5 selected='selected') v5.2022
