@-moz-keyframes spring {
  0% {
    height: 0rem;
  }
  1% {
    height: 0.285042204930238rem;
  }
  2% {
    height: 1.091929163662248rem;
  }
  3% {
    height: 2.347985077659036rem;
  }
  4% {
    height: 3.981144955650689rem;
  }
  5% {
    height: 5.921106066406326rem;
  }
  6% {
    height: 8.100319281228822rem;
  }
  7% {
    height: 10.454821834885749rem;
  }
  8% {
    height: 12.924915065234742rem;
  }
  9% {
    height: 15.455693257136735rem;
  }
  10% {
    height: 17.99743165598953rem;
  }
  11% {
    height: 20.505842684994125rem;
  }
  12% {
    height: 22.942211292502986rem;
  }
  13% {
    height: 25.273420409214452rem;
  }
  14% {
    height: 27.47187886002913rem;
  }
  15% {
    height: 29.515363829925022rem;
  }
  16% {
    height: 31.386790118399205rem;
  }
  17% {
    height: 33.0739186254817rem;
  }
  18% {
    height: 34.569015571244485rem;
  }
  19% {
    height: 35.86847407967495rem;
  }
  20% {
    height: 36.97240853085761rem;
  }
  21% {
    height: 37.8842319000769rem;
  }
  22% {
    height: 38.61022491276874rem;
  }
  23% {
    height: 39.15910538330703rem;
  }
  24% {
    height: 39.541604977435rem;
  }
  25% {
    height: 39.770059771334296rem;
  }
  26% {
    height: 39.85801982573404rem;
  }
  27% {
    height: 39.819882486486236rem;
  }
  28% {
    height: 39.67055270072982rem;
  }
  29% {
    height: 39.42513317132424rem;
  }
  30% {
    height: 39.09864623114544rem;
  }
  31% {
    height: 38.70578849504867rem;
  }
  32% {
    height: 38.26071876897657rem;
  }
  33% {
    height: 37.776879096551205rem;
  }
  34% {
    height: 37.26684810780781rem;
  }
  35% {
    height: 36.742225648722496rem;
  }
  36% {
    height: 36.21354699937455rem;
  }
  37% {
    height: 35.69022479041262rem;
  }
  38% {
    height: 35.18051657348203rem;
  }
  39% {
    height: 34.69151556820542rem;
  }
  40% {
    height: 34.229162177497884rem;
  }
  41% {
    height: 33.798273753596035rem;
  }
  42% {
    height: 33.402590007867225rem;
  }
  43% {
    height: 33.04483150752933rem;
  }
  44% {
    height: 32.72676886588921rem;
  }
  45% {
    height: 32.449300169545rem;
  }
  46% {
    height: 32.21253442428187rem;
  }
  47% {
    height: 32.01587894739714rem;
  }
  48% {
    height: 31.858128746318307rem;
  }
  49% {
    height: 31.737556172047746rem;
  }
  50% {
    height: 31.651999272195336rem;
  }
  51% {
    height: 31.59894753079018rem;
  }
  52% {
    height: 31.575623791413285rem;
  }
  53% {
    height: 31.579061449955695rem;
  }
  54% {
    height: 31.60617611732599rem;
  }
  55% {
    height: 31.65383118309811rem;
  }
  56% {
    height: 31.718896839114805rem;
  }
  57% {
    height: 31.798302318644126rem;
  }
  58% {
    height: 31.889081230231323rem;
  }
  59% {
    height: 31.988409994381716rem;
  }
  60% {
    height: 32.093639516199964rem;
  }
  61% {
    height: 32.20232031991227rem;
  }
  62% {
    height: 32.31222146260058rem;
  }
  63% {
    height: 32.421343606896265rem;
  }
  64% {
    height: 32.527926694748615rem;
  }
  65% {
    height: 32.63045269396143rem;
  }
  66% {
    height: 32.72764394693222rem;
  }
  67% {
    height: 32.818457623656485rem;
  }
  68% {
    height: 32.9020768297287rem;
  }
  69% {
    height: 32.977898895276105rem;
  }
  70% {
    height: 33.04552135540747rem;
  }
  71% {
    height: 33.104726129583455rem;
  }
  72% {
    height: 33.155462362900835rem;
  }
  73% {
    height: 33.19782837889492rem;
  }
  74% {
    height: 33.23205314533199rem;
  }
  75% {
    height: 33.25847762238409rem;
  }
  76% {
    height: 33.27753632437249rem;
  }
  77% {
    height: 33.289739381475016rem;
  }
  78% {
    height: 33.29565534931593rem;
  }
  79% {
    height: 33.2958949734094rem;
  }
  80% {
    height: 33.29109607275476rem;
  }
  81% {
    height: 33.28190967813376rem;
  }
  82% {
    height: 33.268987510475554rem;
  }
  83% {
    height: 33.252970865496174rem;
  }
  84% {
    height: 33.234480931354824rem;
  }
  85% {
    height: 33.214110541219995rem;
  }
  86% {
    height: 33.19241733923647rem;
  }
  87% {
    height: 33.16991831551647rem;
  }
  88% {
    height: 33.1470856467714rem;
  }
  89% {
    height: 33.12434376731134rem;
  }
  90% {
    height: 33.1020675785511rem;
  }
  91% {
    height: 33.08058170154508rem;
  }
  92% {
    height: 33.060160663912505rem;
  }
  93% {
    height: 33.0410299151343rem;
  }
  94% {
    height: 33.023367558192135rem;
  }
  95% {
    height: 33.00730668673333rem;
  }
  96% {
    height: 32.99293822063597rem;
  }
  97% {
    height: 32.980314135335824rem;
  }
  98% {
    height: 32.96945098500287rem;
  }
  99% {
    height: 32.96033362782594rem;
  }
  100% {
    height: 32.95291906660205rem;
  }
}
@-webkit-keyframes spring {
  0% {
    height: 0rem;
  }
  1% {
    height: 0.285042204930238rem;
  }
  2% {
    height: 1.091929163662248rem;
  }
  3% {
    height: 2.347985077659036rem;
  }
  4% {
    height: 3.981144955650689rem;
  }
  5% {
    height: 5.921106066406326rem;
  }
  6% {
    height: 8.100319281228822rem;
  }
  7% {
    height: 10.454821834885749rem;
  }
  8% {
    height: 12.924915065234742rem;
  }
  9% {
    height: 15.455693257136735rem;
  }
  10% {
    height: 17.99743165598953rem;
  }
  11% {
    height: 20.505842684994125rem;
  }
  12% {
    height: 22.942211292502986rem;
  }
  13% {
    height: 25.273420409214452rem;
  }
  14% {
    height: 27.47187886002913rem;
  }
  15% {
    height: 29.515363829925022rem;
  }
  16% {
    height: 31.386790118399205rem;
  }
  17% {
    height: 33.0739186254817rem;
  }
  18% {
    height: 34.569015571244485rem;
  }
  19% {
    height: 35.86847407967495rem;
  }
  20% {
    height: 36.97240853085761rem;
  }
  21% {
    height: 37.8842319000769rem;
  }
  22% {
    height: 38.61022491276874rem;
  }
  23% {
    height: 39.15910538330703rem;
  }
  24% {
    height: 39.541604977435rem;
  }
  25% {
    height: 39.770059771334296rem;
  }
  26% {
    height: 39.85801982573404rem;
  }
  27% {
    height: 39.819882486486236rem;
  }
  28% {
    height: 39.67055270072982rem;
  }
  29% {
    height: 39.42513317132424rem;
  }
  30% {
    height: 39.09864623114544rem;
  }
  31% {
    height: 38.70578849504867rem;
  }
  32% {
    height: 38.26071876897657rem;
  }
  33% {
    height: 37.776879096551205rem;
  }
  34% {
    height: 37.26684810780781rem;
  }
  35% {
    height: 36.742225648722496rem;
  }
  36% {
    height: 36.21354699937455rem;
  }
  37% {
    height: 35.69022479041262rem;
  }
  38% {
    height: 35.18051657348203rem;
  }
  39% {
    height: 34.69151556820542rem;
  }
  40% {
    height: 34.229162177497884rem;
  }
  41% {
    height: 33.798273753596035rem;
  }
  42% {
    height: 33.402590007867225rem;
  }
  43% {
    height: 33.04483150752933rem;
  }
  44% {
    height: 32.72676886588921rem;
  }
  45% {
    height: 32.449300169545rem;
  }
  46% {
    height: 32.21253442428187rem;
  }
  47% {
    height: 32.01587894739714rem;
  }
  48% {
    height: 31.858128746318307rem;
  }
  49% {
    height: 31.737556172047746rem;
  }
  50% {
    height: 31.651999272195336rem;
  }
  51% {
    height: 31.59894753079018rem;
  }
  52% {
    height: 31.575623791413285rem;
  }
  53% {
    height: 31.579061449955695rem;
  }
  54% {
    height: 31.60617611732599rem;
  }
  55% {
    height: 31.65383118309811rem;
  }
  56% {
    height: 31.718896839114805rem;
  }
  57% {
    height: 31.798302318644126rem;
  }
  58% {
    height: 31.889081230231323rem;
  }
  59% {
    height: 31.988409994381716rem;
  }
  60% {
    height: 32.093639516199964rem;
  }
  61% {
    height: 32.20232031991227rem;
  }
  62% {
    height: 32.31222146260058rem;
  }
  63% {
    height: 32.421343606896265rem;
  }
  64% {
    height: 32.527926694748615rem;
  }
  65% {
    height: 32.63045269396143rem;
  }
  66% {
    height: 32.72764394693222rem;
  }
  67% {
    height: 32.818457623656485rem;
  }
  68% {
    height: 32.9020768297287rem;
  }
  69% {
    height: 32.977898895276105rem;
  }
  70% {
    height: 33.04552135540747rem;
  }
  71% {
    height: 33.104726129583455rem;
  }
  72% {
    height: 33.155462362900835rem;
  }
  73% {
    height: 33.19782837889492rem;
  }
  74% {
    height: 33.23205314533199rem;
  }
  75% {
    height: 33.25847762238409rem;
  }
  76% {
    height: 33.27753632437249rem;
  }
  77% {
    height: 33.289739381475016rem;
  }
  78% {
    height: 33.29565534931593rem;
  }
  79% {
    height: 33.2958949734094rem;
  }
  80% {
    height: 33.29109607275476rem;
  }
  81% {
    height: 33.28190967813376rem;
  }
  82% {
    height: 33.268987510475554rem;
  }
  83% {
    height: 33.252970865496174rem;
  }
  84% {
    height: 33.234480931354824rem;
  }
  85% {
    height: 33.214110541219995rem;
  }
  86% {
    height: 33.19241733923647rem;
  }
  87% {
    height: 33.16991831551647rem;
  }
  88% {
    height: 33.1470856467714rem;
  }
  89% {
    height: 33.12434376731134rem;
  }
  90% {
    height: 33.1020675785511rem;
  }
  91% {
    height: 33.08058170154508rem;
  }
  92% {
    height: 33.060160663912505rem;
  }
  93% {
    height: 33.0410299151343rem;
  }
  94% {
    height: 33.023367558192135rem;
  }
  95% {
    height: 33.00730668673333rem;
  }
  96% {
    height: 32.99293822063597rem;
  }
  97% {
    height: 32.980314135335824rem;
  }
  98% {
    height: 32.96945098500287rem;
  }
  99% {
    height: 32.96033362782594rem;
  }
  100% {
    height: 32.95291906660205rem;
  }
}
@-o-keyframes spring {
  0% {
    height: 0rem;
  }
  1% {
    height: 0.285042204930238rem;
  }
  2% {
    height: 1.091929163662248rem;
  }
  3% {
    height: 2.347985077659036rem;
  }
  4% {
    height: 3.981144955650689rem;
  }
  5% {
    height: 5.921106066406326rem;
  }
  6% {
    height: 8.100319281228822rem;
  }
  7% {
    height: 10.454821834885749rem;
  }
  8% {
    height: 12.924915065234742rem;
  }
  9% {
    height: 15.455693257136735rem;
  }
  10% {
    height: 17.99743165598953rem;
  }
  11% {
    height: 20.505842684994125rem;
  }
  12% {
    height: 22.942211292502986rem;
  }
  13% {
    height: 25.273420409214452rem;
  }
  14% {
    height: 27.47187886002913rem;
  }
  15% {
    height: 29.515363829925022rem;
  }
  16% {
    height: 31.386790118399205rem;
  }
  17% {
    height: 33.0739186254817rem;
  }
  18% {
    height: 34.569015571244485rem;
  }
  19% {
    height: 35.86847407967495rem;
  }
  20% {
    height: 36.97240853085761rem;
  }
  21% {
    height: 37.8842319000769rem;
  }
  22% {
    height: 38.61022491276874rem;
  }
  23% {
    height: 39.15910538330703rem;
  }
  24% {
    height: 39.541604977435rem;
  }
  25% {
    height: 39.770059771334296rem;
  }
  26% {
    height: 39.85801982573404rem;
  }
  27% {
    height: 39.819882486486236rem;
  }
  28% {
    height: 39.67055270072982rem;
  }
  29% {
    height: 39.42513317132424rem;
  }
  30% {
    height: 39.09864623114544rem;
  }
  31% {
    height: 38.70578849504867rem;
  }
  32% {
    height: 38.26071876897657rem;
  }
  33% {
    height: 37.776879096551205rem;
  }
  34% {
    height: 37.26684810780781rem;
  }
  35% {
    height: 36.742225648722496rem;
  }
  36% {
    height: 36.21354699937455rem;
  }
  37% {
    height: 35.69022479041262rem;
  }
  38% {
    height: 35.18051657348203rem;
  }
  39% {
    height: 34.69151556820542rem;
  }
  40% {
    height: 34.229162177497884rem;
  }
  41% {
    height: 33.798273753596035rem;
  }
  42% {
    height: 33.402590007867225rem;
  }
  43% {
    height: 33.04483150752933rem;
  }
  44% {
    height: 32.72676886588921rem;
  }
  45% {
    height: 32.449300169545rem;
  }
  46% {
    height: 32.21253442428187rem;
  }
  47% {
    height: 32.01587894739714rem;
  }
  48% {
    height: 31.858128746318307rem;
  }
  49% {
    height: 31.737556172047746rem;
  }
  50% {
    height: 31.651999272195336rem;
  }
  51% {
    height: 31.59894753079018rem;
  }
  52% {
    height: 31.575623791413285rem;
  }
  53% {
    height: 31.579061449955695rem;
  }
  54% {
    height: 31.60617611732599rem;
  }
  55% {
    height: 31.65383118309811rem;
  }
  56% {
    height: 31.718896839114805rem;
  }
  57% {
    height: 31.798302318644126rem;
  }
  58% {
    height: 31.889081230231323rem;
  }
  59% {
    height: 31.988409994381716rem;
  }
  60% {
    height: 32.093639516199964rem;
  }
  61% {
    height: 32.20232031991227rem;
  }
  62% {
    height: 32.31222146260058rem;
  }
  63% {
    height: 32.421343606896265rem;
  }
  64% {
    height: 32.527926694748615rem;
  }
  65% {
    height: 32.63045269396143rem;
  }
  66% {
    height: 32.72764394693222rem;
  }
  67% {
    height: 32.818457623656485rem;
  }
  68% {
    height: 32.9020768297287rem;
  }
  69% {
    height: 32.977898895276105rem;
  }
  70% {
    height: 33.04552135540747rem;
  }
  71% {
    height: 33.104726129583455rem;
  }
  72% {
    height: 33.155462362900835rem;
  }
  73% {
    height: 33.19782837889492rem;
  }
  74% {
    height: 33.23205314533199rem;
  }
  75% {
    height: 33.25847762238409rem;
  }
  76% {
    height: 33.27753632437249rem;
  }
  77% {
    height: 33.289739381475016rem;
  }
  78% {
    height: 33.29565534931593rem;
  }
  79% {
    height: 33.2958949734094rem;
  }
  80% {
    height: 33.29109607275476rem;
  }
  81% {
    height: 33.28190967813376rem;
  }
  82% {
    height: 33.268987510475554rem;
  }
  83% {
    height: 33.252970865496174rem;
  }
  84% {
    height: 33.234480931354824rem;
  }
  85% {
    height: 33.214110541219995rem;
  }
  86% {
    height: 33.19241733923647rem;
  }
  87% {
    height: 33.16991831551647rem;
  }
  88% {
    height: 33.1470856467714rem;
  }
  89% {
    height: 33.12434376731134rem;
  }
  90% {
    height: 33.1020675785511rem;
  }
  91% {
    height: 33.08058170154508rem;
  }
  92% {
    height: 33.060160663912505rem;
  }
  93% {
    height: 33.0410299151343rem;
  }
  94% {
    height: 33.023367558192135rem;
  }
  95% {
    height: 33.00730668673333rem;
  }
  96% {
    height: 32.99293822063597rem;
  }
  97% {
    height: 32.980314135335824rem;
  }
  98% {
    height: 32.96945098500287rem;
  }
  99% {
    height: 32.96033362782594rem;
  }
  100% {
    height: 32.95291906660205rem;
  }
}
@keyframes spring {
  0% {
    height: 0rem;
  }
  1% {
    height: 0.285042204930238rem;
  }
  2% {
    height: 1.091929163662248rem;
  }
  3% {
    height: 2.347985077659036rem;
  }
  4% {
    height: 3.981144955650689rem;
  }
  5% {
    height: 5.921106066406326rem;
  }
  6% {
    height: 8.100319281228822rem;
  }
  7% {
    height: 10.454821834885749rem;
  }
  8% {
    height: 12.924915065234742rem;
  }
  9% {
    height: 15.455693257136735rem;
  }
  10% {
    height: 17.99743165598953rem;
  }
  11% {
    height: 20.505842684994125rem;
  }
  12% {
    height: 22.942211292502986rem;
  }
  13% {
    height: 25.273420409214452rem;
  }
  14% {
    height: 27.47187886002913rem;
  }
  15% {
    height: 29.515363829925022rem;
  }
  16% {
    height: 31.386790118399205rem;
  }
  17% {
    height: 33.0739186254817rem;
  }
  18% {
    height: 34.569015571244485rem;
  }
  19% {
    height: 35.86847407967495rem;
  }
  20% {
    height: 36.97240853085761rem;
  }
  21% {
    height: 37.8842319000769rem;
  }
  22% {
    height: 38.61022491276874rem;
  }
  23% {
    height: 39.15910538330703rem;
  }
  24% {
    height: 39.541604977435rem;
  }
  25% {
    height: 39.770059771334296rem;
  }
  26% {
    height: 39.85801982573404rem;
  }
  27% {
    height: 39.819882486486236rem;
  }
  28% {
    height: 39.67055270072982rem;
  }
  29% {
    height: 39.42513317132424rem;
  }
  30% {
    height: 39.09864623114544rem;
  }
  31% {
    height: 38.70578849504867rem;
  }
  32% {
    height: 38.26071876897657rem;
  }
  33% {
    height: 37.776879096551205rem;
  }
  34% {
    height: 37.26684810780781rem;
  }
  35% {
    height: 36.742225648722496rem;
  }
  36% {
    height: 36.21354699937455rem;
  }
  37% {
    height: 35.69022479041262rem;
  }
  38% {
    height: 35.18051657348203rem;
  }
  39% {
    height: 34.69151556820542rem;
  }
  40% {
    height: 34.229162177497884rem;
  }
  41% {
    height: 33.798273753596035rem;
  }
  42% {
    height: 33.402590007867225rem;
  }
  43% {
    height: 33.04483150752933rem;
  }
  44% {
    height: 32.72676886588921rem;
  }
  45% {
    height: 32.449300169545rem;
  }
  46% {
    height: 32.21253442428187rem;
  }
  47% {
    height: 32.01587894739714rem;
  }
  48% {
    height: 31.858128746318307rem;
  }
  49% {
    height: 31.737556172047746rem;
  }
  50% {
    height: 31.651999272195336rem;
  }
  51% {
    height: 31.59894753079018rem;
  }
  52% {
    height: 31.575623791413285rem;
  }
  53% {
    height: 31.579061449955695rem;
  }
  54% {
    height: 31.60617611732599rem;
  }
  55% {
    height: 31.65383118309811rem;
  }
  56% {
    height: 31.718896839114805rem;
  }
  57% {
    height: 31.798302318644126rem;
  }
  58% {
    height: 31.889081230231323rem;
  }
  59% {
    height: 31.988409994381716rem;
  }
  60% {
    height: 32.093639516199964rem;
  }
  61% {
    height: 32.20232031991227rem;
  }
  62% {
    height: 32.31222146260058rem;
  }
  63% {
    height: 32.421343606896265rem;
  }
  64% {
    height: 32.527926694748615rem;
  }
  65% {
    height: 32.63045269396143rem;
  }
  66% {
    height: 32.72764394693222rem;
  }
  67% {
    height: 32.818457623656485rem;
  }
  68% {
    height: 32.9020768297287rem;
  }
  69% {
    height: 32.977898895276105rem;
  }
  70% {
    height: 33.04552135540747rem;
  }
  71% {
    height: 33.104726129583455rem;
  }
  72% {
    height: 33.155462362900835rem;
  }
  73% {
    height: 33.19782837889492rem;
  }
  74% {
    height: 33.23205314533199rem;
  }
  75% {
    height: 33.25847762238409rem;
  }
  76% {
    height: 33.27753632437249rem;
  }
  77% {
    height: 33.289739381475016rem;
  }
  78% {
    height: 33.29565534931593rem;
  }
  79% {
    height: 33.2958949734094rem;
  }
  80% {
    height: 33.29109607275476rem;
  }
  81% {
    height: 33.28190967813376rem;
  }
  82% {
    height: 33.268987510475554rem;
  }
  83% {
    height: 33.252970865496174rem;
  }
  84% {
    height: 33.234480931354824rem;
  }
  85% {
    height: 33.214110541219995rem;
  }
  86% {
    height: 33.19241733923647rem;
  }
  87% {
    height: 33.16991831551647rem;
  }
  88% {
    height: 33.1470856467714rem;
  }
  89% {
    height: 33.12434376731134rem;
  }
  90% {
    height: 33.1020675785511rem;
  }
  91% {
    height: 33.08058170154508rem;
  }
  92% {
    height: 33.060160663912505rem;
  }
  93% {
    height: 33.0410299151343rem;
  }
  94% {
    height: 33.023367558192135rem;
  }
  95% {
    height: 33.00730668673333rem;
  }
  96% {
    height: 32.99293822063597rem;
  }
  97% {
    height: 32.980314135335824rem;
  }
  98% {
    height: 32.96945098500287rem;
  }
  99% {
    height: 32.96033362782594rem;
  }
  100% {
    height: 32.95291906660205rem;
  }
}
