.center__project.center__project--is-purple.center--is-hidden
	ul
		li
			a(href='/teal')
				|<b>TP&C</b><br>Creative research endeavors
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		li
			a(href='/29-09')
				|<b>29-09</b><br>Exploring an online publication
				.center__project-arrow
					include ../svgs/icon-arrow.svg