.center__project.center__project--is-blue.center--is-hidden
	.center__community
		p I haven't gotten a chance to<br>migrate this section yet. Check it<br>out on #[a(href='/3#community') v3 of this site] :)
