.center__project.center__project--is-red.center--is-hidden
	ul
		li
			a(href='/plaid')
				|<b>Plaid</b><br>Designing for developers
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		li
			a(href='/hunt')
				|<b>Hunt</b><br>HackNY scavenger hunt
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		li
			a(href='/illustrations')
				|<b>Illustrations</b><br>Buncha digital doodles
				.center__project-arrow
					include ../svgs/icon-arrow.svg