extends designing-template

block title
	|Plaid

block description
	|Making bank data approachable ~ 2017+

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Product design
			.content__quote.dont-show
				|As infrastructure, Plaid supports everyone from humans that use financial technology, to those that build it, regulate it, and maintain it. This is a sample of work from almost four years at Plaid. 

			//- .row.intro.dont-show
			//- 	.eight.columns
			//- 		h6 Goal
			//- 		p Create an engaging way to explore the city
			//- 
			//- 		h6 Timeline
			//- 		p The team consisted of myself as the product designer alongside two iOS devs and two backend devs. We designed and built Hunt in two weeks during our Summer ‘16 #[a(href='https://apply.hackny.org/') HackNY Fellowship]
			//- 
			//- 		h6 Audience
			//- 		p We launched on Test Flight to the 23 other HackNY Fellows that were living with us
			//- 
			//- 		h6 End product
			//- 		p A scavenger hunt app where you complete tasks by submitting to your team's story
			//- 	.four.columns
			//- 		.content__extend.content__extend--is-large
			//- 			img.has-border(src='img/hunt/hunt-in-app-2.png')

	.row.content.show-last
		.seven.columns
			h4 Building for developers
			p We enable developrs to test, ship, and scale through our developer tools, API design, and documentation. 
	.row.content.show-last(style="margin-top: 0;")
		.seven.columns
			img.has-border.extra-bottom-margin(src='img/plaid/dashboard-many-teams.png')
	.row.content.show-last(style="margin-top: 0;")
		.seven.columns
			video(autoplay="autoplay" loop="true" muted).has-border.extra-bottom-margin
				source(src="img/plaid/diagram-system.mp4" type="video/mp4")

	.row.show-last
		.twelve.columns
			img.extra-bottom-margin(src='img/plaid/dashboard-usage.png')
	.row.show-last
		.twelve.columns
			img(src='img/plaid/dashboard-api-status.png')
	

	.row.content.show-last
		.seven.columns
			h4 Supporting consumers 
			p Helping humans connect their bank accounts to an app. Reach out to ask about more my consumer work, including motion principle explorations! A good bit of it hasn't been released yet.

	.row.show-last
		.twelve.columns
			img(src='img/plaid/link-same-day-microdeposits.png')
			
	
	.row.content.show-last
		.seven.columns
			h4 Illustrating for character 
			p Telling the stories of our releases with the help of majestical objects.
	.row.show-last
		.twelve.columns
			img.has-border.extra-bottom-margin(src='img/plaid/illo-status.png')
			img.has-border.extra-bottom-margin(src='img/plaid/illo-coverage.png')
			img.has-border.extra-bottom-margin(src='img/plaid/illo-sandbox.png')
			
	//- .row.content.show-last
	//- 	.seven.columns
	//- 		h4 Bringing magic to internal hackathons 
	//- 		p In the second week of testing the app, we organized a time for all of the teams to compete at the same time. We chose the iconic Ample Hills creamery as the final destination and created these posters to help get folks excited. 
	//- .row.show-last
	//- 	.twelve.columns
	//- 		video(src="img/plaid/solari-board-resized.mp4")
