.row.footer.show-last
	a(href='').six.columns
		.footer__project#footer-similar-color
			.footer__project-tag.footer__project-tag--is-similar Similar
			.footer__project-details#footer-similar-details
				|<b>oh snap</b><br>this one's a good one
			include ../svgs/icon-arrow.svg
	a(href='').six.columns
		.footer__project#footer-diff-color
			.footer__project-tag.footer__project-tag--is-different Different
			.footer__project-details#footer-diff-details
				|<b>awhh jeez</b><br>here's another project
			include ../svgs/icon-arrow.svg