extends sharing-template

block title
	|Temporal canvas

block description
	|Drawing with friends ~ 2018

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Art
			.content__quote.dont-show
				|One of the first times I felt #[span free ] #[span as ] #[span an ] #[span artist] was when I drew with my eyes closed. Temporal canvas is an activity to share that with others.
			.intro.dont-show 
			p I'll often carry around a small notebook with me, in part to draw whenever the moment warrants. I'll usually conduct the drawing activity in this format:
			ol
				li Artist chooses the first letter of a word 
				li Observer chooses the second letter 
				li Both brainstorm possible words that start with that prefix
				li Artist chooses one word as prompt and draws with eyes closed

			p The artist can take however long they want to draw. It’s exciting to see others take on the ambiguity and be pleasantly surprised with the outcome. Here’s a couple of drawings from myself and friends over the past year

			
	.row.content.content--no-top-margin.show-last
		.nine.columns
			img(src='img/temporal/001.png')
	.row.content.content--no-top-margin.how-last
		.nine.columns
			img(src='img/temporal/002.png')
	.row.content.content--no-top-margin.show-last
		.nine.columns
			img(src='img/temporal/003.png')

	.row.content.show-last
		.seven.columns
			p That's all for now, more to come! 
