extends artifacts-template

block title
	|29-09

block description
	|An online publication ~ 2018

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Publishing<br>and Art
			.content__quote.dont-show
				|In creating online artifacts, we're always exploring how we can build our own platforms to #[span craft ] #[span a ] #[span narrative]

			.intro.dont-show
				p As it stands today, #[a(href='https://tealprocess.com/29-09') 29-09 Emergency Brake] is currently our open playground for self-publishing. Our first post consisted of a poem by Mel and a recording my be. The initial project design and development was conducted in the span of a weekend. 
	
	.row.content.show-last
		.four.columns
			img.has-border(src='img/29-09/001.png')
		.four.columns
			img.has-border(src='img/29-09/002.png')
		.four.columns
			img.has-border.extra-bottom-margin(src='img/29-09/004.png')

	.row.content.show-last
		.seven.columns
			p Here's a sneak peek at an edited magazine that I'll be putting up on 29-09. It starts to play with the idea of re-purposing other's published works to create a 29-09 physical publication. 
	.row.content.show-last
		.nine.columns
			img(src='img/29-09/pub-cover.png')