extends designing-template

block title
	|Hunt

block description
	|HackNY scavenger hunt ~ 2016

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Product and<br>brand design
			.content__quote.dont-show
				|The idea began when we decided to use snapchat stories as a #[span form ]#[span of ]#[span content], two weeks before Instagram Stories was released.

			.row.intro.dont-show
				.eight.columns
					h6 Goal
					p Create an engaging way to explore the city

					h6 Timeline
					p The team consisted of myself as the product designer alongside two iOS devs and two backend devs. We designed and built Hunt in two weeks during our Summer ‘16 #[a(href='https://apply.hackny.org/') HackNY Fellowship]

					h6 Audience
					p We launched on Test Flight to the 23 other HackNY Fellows that were living with us

					h6 End product
					p A scavenger hunt app where you complete tasks by submitting to your team's story
				.four.columns
					.content__extend.content__extend--is-large
						img.has-border(src='img/hunt/hunt-in-app-2.png')

	.row.content.show-last
		.seven.columns
			h4 App on first open 
			p The following screens depict what you'll find in the app before a scavenger hunt game begins. We wanted to educate everyone on how the game works through onboarding pages and empty states. 
	.row.show-last
		.twelve.columns
			img.has-border.extra-bottom-margin(src='img/hunt/hunt-onboardings.png')
	.row.show-last
		.twelve.columns
			img.has-border(src='img/hunt/hunt-empty-states.png')

	.row.content.show-last
		.seven.columns
			h4 Finding and completing a task
			p After a game begins, you'll be prompted with a clue that leads to a location. Once you're close enough to the hotspot, your team is given a challenge to complete and record. On the right is a screenshot of a courageous HackNY fellow completing the challenge of proposing to a stranger. 

	.row.show-last
		.twelve.columns
			img.has-border(src='img/hunt/hunt-in-apps.png')
	
	.row.content.show-last
		.seven.columns
			h4 Marketing the big finale
			p In the second week of testing the app, we organized a time for all of the teams to compete at the same time. We chose the iconic Ample Hills creamery as the final destination and created these posters to help get folks excited. 
	.row.show-last
		.twelve.columns
			img.has-border.extra-bottom-margin(src='img/hunt/hunt-marketing-22.png')
			img.has-border(src='img/hunt/hunt-marketing-24.png')







