extends ../design-project

block title
	| Hunt
block type
	| iOS App
block year
	| #[span 2016]

block experience
	.experience
		ul
			li Brand
			li Product Design

block quote
	| It began when we decided to use snapchat stories as a #[span form ] #[span of ] #[span content], two weeks before Instagram Stories was released.

block base-info
	.columns.six
		.sub-header The Goal
		.text Create an engaging way to explore the city. 

		.sub-header Timeline Constraints
		.text The team consisted of myself as the product designer alongside two iOS devs and two backend devs. We designed and built Hunt in two weeks during our Summer ‘16 #[a(href='https://apply.hackny.org/') HackNY Fellowship].

		.sub-header Target Audience
		.text We launched on Test Flight to the 23 other HackNY Fellows that were living with us in New York.

		.sub-header End Product
		.text Scavenger hunt app where the tasks you submit are videos that get added to your team's story.

	.columns.four.pull-right
		img(src='img/hunt/hunt-in-app-2.png')
block main
	.section
		.text 
			<br/>
			<br/>
			<br/>
			| <b>Quick note</b>: Apologies for the lack of explanation. I'm currently working on writing out the process we went through in creating Hunt. Stay tuned!

	.section
		.heading Ideation
		.text 
		img(src='img/hunt/hunt-wireframes.png')

	.section
		.heading Onboarding
		.text 
		img(src='img/hunt/hunt-onboardings.png')

	.section
		.heading Task Submission
		.text 
		img(src='img/hunt/hunt-in-apps.png')
	
	.section
		.heading Empty States
		.text
		img(src='img/hunt/hunt-empty-states.png')

	.section
		.heading Marketing Posters
		.text
		img.add-border(src='img/hunt/hunt-marketing-22.png')
		img.add-border(src='img/hunt/hunt-marketing-24.png')

