extends designing-template

block title
	|Illustrations

block description
	|Buncha digital doodles ~ 2015-18

block project-content
	.row.content.content--is-intro.dont-show
	.row.content.dont-show
		.twelve.columns
			img.extra-bottom-margin(src='img/illos/illo-15.png')
			img.has-border.extra-bottom-margin(src='img/illos/illo-rock-stamp.png')
			img.has-border.extra-bottom-margin(src='img/illos/illo-shift.png')
			img.extra-bottom-margin(src='img/illos/illo-16.png')
			img.has-border.extra-bottom-margin(src='img/illos/illo-17.png')
			img.extra-bottom-margin(src='img/illos/illo-18.png')
			img.extra-bottom-margin(src='img/illos/illo-20.png')
			img.has-border.extra-bottom-margin(src='img/illos/illo-21.png')
			img.extra-bottom-margin(src='img/illos/illo-22.png')







