extends artifacts-template

block title
	|Modes of exploring

block description
	|Mostly digital, all conceptual

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Concepting<br>and Research
			.content__quote.dont-show
				|Welcome to a worklog of sorts! You'll find recent realms I've explored, and most tidings are unfinished. 

			.intro.dont-show
				p Alongside documenting, I've started mapping out how I think about my explorations. You can view those thoughts #[a(href='https://kinopio.club/norm-s-modes-of-careering-iy439bcnHcvE0m_BE1nQ9') here on Kinopio]. 
	
	.row.content.show-last
		.seven.columns
			h4 Our Observatory
			p Created as part of #[a(target="_blank" href="https://www.are.na/teal/intellectual-infrastructure") Intellectual Infrastructure] research, the observatory is an environment to explore questions around how we think. Have started with the are.na and Kinopio APIs as a base to explore. 
	
	.row.content.show-last
		.six.columns
			img.has-border(src='https://d2w9rnfcy7mm78.cloudfront.net/5835027/original_f74d073b302934ea916a2c0daa468d40.png?1578285130?bc=0')
			.content__caption Web scraping to wade through Are.na infos, #[a(target="_blank" href="https://our-observatory.glitch.me/") Try it out!]
		.three.columns
			img.has-border(src='https://d2w9rnfcy7mm78.cloudfront.net/7136305/original_fd1b961db8fbf00511cd55bda7959912.gif?1588553883?bc=0')
			.content__caption Creating Ambi as a friendly home object connected to the observatory  
		//- .four.columns
		//- 	img.has-border.extra-bottom-margin(src='img/29-09/004.png')


	.row.content.show-last
		.seven.columns
			h4 Leave Room for Thoughts
			p At Teal Process & Company we've been creating an institution. These were explorations around an identity for the institution using three.js. 
			
	.row.content.show-last
		.seven.columns
			img.has-border(src='https://d2w9rnfcy7mm78.cloudfront.net/3803730/original_b294c79a740039683781dd4598128344.png?1551892199?bc=1')
			.content__caption Generative logo explorations for Lrft 
		.four.columns
			img.has-border(src='https://d2w9rnfcy7mm78.cloudfront.net/5626057/original_2c53522ce57bd986f251360bf958204b.gif?1575255006?bc=0')
			.content__caption This view was an accident, but the blocks fall so gracefully 
		//- .four.columns
		//- 	img.has-border.extra-bottom-margin(src='img/29-09/004.png')
		
	.row.content.show-last
		.seven.columns
			h4 Bits and bobs
			p This concept was created during my time at SFPC's Code Societies course in 2019. Very greatful for the environment and those I had conversations with around novel interfaces! You can #[a(href='https://www.youtube.com/watch?v=UqbO-gRyTdE&feature=youtu.be&t=4685') watch my talk about the project] or try it out following these steps: 
			p To try it out and sit with your emtions: 
			ol
				li Visit <a target='_blank' href='http://wadeful.net/bobs'> http://wadeful.net/bobs</a> on your computer 
				li Visit <a target='_blank' href='http://wadeful.net/bits'> http://wadeful.net/bits</a> on your phone
	
	.row.content.show-last
		.four.columns
			img(src='https://d2w9rnfcy7mm78.cloudfront.net/3526396/original_a67169e5d09615f6f23f9e9bff77b1f9.png?1548825263?bc=1')
			.content__caption Piece I created with the project, titled "sentiments ago" 
		.four.columns
			img(src='https://d2w9rnfcy7mm78.cloudfront.net/5214538/original_d88908f94f86235e35d6fb88f6ebf0eb.png?1570676451?bc=0')
			.content__caption Playin with shadows  
		.four.columns
			img.extra-bottom-margin(src='https://d2w9rnfcy7mm78.cloudfront.net/5131196/original_4966023598d7abf4fdd91c8127b18aaf.png?1569813403?bc=0')
			.content__caption Slide from my #[a(href='https://www.youtube.com/watch?v=UqbO-gRyTdE&feature=youtu.be&t=4685') talk]!


	.row.content.show-last
		.seven.columns
			h4 Shared Context
			p This is an experiment as part of #[a(href='https://www.are.na/teal/digital-proximity') Digital Proximity]. Aiming for a world in which we're all a bit more connected and sharing the same context. Currently building as a chrome extension, but would love to have this as a default in browsers!
			
	.row.content.show-last
		.seven.columns
			img.has-border(src='https://d2w9rnfcy7mm78.cloudfront.net/3088806/original_ac5dfc1d3aad3f89e14349549dccaf1e.gif?1543015692?bc=1')
			.content__caption Building the following and presenting mode 
		.four.columns
			img.has-border(src='https://d2w9rnfcy7mm78.cloudfront.net/3055827/original_f4aed8e3760059e12131e385dea911ff.jpg?1542474524?bc=1')
			.content__caption Surfing the net! 
		//- .four.columns
		//- 	img.has-border.extra-bottom-margin(src='img/29-09/004.png')
