extends sharing-template

block title
	|Pondering

block description
	|Code Societies at SFPC ~ 2019

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Living blog<br>of sorts
			.content__quote.dont-show
				|Sentiments and gatherings influenced from my three weeks at #[a(href='http://sfpc.io/codesocieties-winter-19/' target='_blank' rel='noopener noreferrer') School for Poetic Computation]
			.intro.dont-show 
			h4 01-03.19
			p winter sun softly wades <br> taking solace in the brisk air

	//- copy for copy
	//- .row.content.show-last
	//- 	.seven.columns
	//- 		h4 Header for date
	//- 		p Somethin fun here

	//- copy for image
	//- .row.content.content--no-top-margin.show-last
	//- 	.nine.columns
	//- 		img.has-border(src='img/studio-office/dan-studio-visit-doc.png')



