extends ../design-project

block title
	| This Site
block type
	| Online Portfolio
block year
	| #[span 2014-Present]

block experience
	.experience
		ul
			li Prototyping
			li UI/UX Design

block quote
	| #[span Three ] #[span versions ] #[span later], I don't think my portfolio will ever be done.

block base-info
	.columns.three
		.sub-header End Product
		.text An online presence and showcase of my work.

		.sub-header Tech Used
		.text NodeJS/Express + MongoDB + Jade + JS/jQuery
	.columns.eight.pull-right
		img(src='img/site/firstPersonalSite.gif')
		.sub-text Version 1, created in the summer of 2014 following my first round of hackathons. 
block main
	.section
		.heading Beginnings
		.text My personal site's have always been built from scratch. And while my first one had showcased the skills I was learning alongside my hackathon travels, I wanted my second version to start showing what I had built. But don't worry, you can still #[a(href='/1') access version 1 at any time].

	.section
		.heading On to Version 2
		.text 
			| From the start I knew I wanted the site to look slightly minimal. I had found this <a href='http://mrdoob.github.io/three.js/examples/canvas_geometry_birds.html'>great three.js demo</a> of birds built using the canvas. I decided to incorporate it with a little blurb about me. For the portfolio aspect, I wanted to have each project shown on the homepage but with detailed individual page. I threw in some fancy css animations and came up with the first attempt shown below.
			<br />
			<br />
		img(src='img/site/newSiteLanding.gif')
		.text
			<br />
			<br />
			| Although the birds were fun, this version didn't catch the eye as much as the previous design. At first glance, many people may not read the blurb whereas the rotating text had caught attention and in turn, told the audience about myself. I decided to try something simpler and reused the scrolling text that had worked well before. The portfolio elements were also slimmed down to encourage actually reading what they were.
			<br />
			<br />
		img(src='img/site/newSiteLandingPt2.gif')
		.text
			<br />
			<br />
			| This iteration felt almost too simple, and linking out to Technole, HackFSU, and Domi didn't tell enough about my involvement. I decided to make those a part of the portfolio, which in turn meant that almost all of my content now belonged to the portfolio aspect of the site. I decided to try out displaying the project info in a box format, while still telling a bit about myself with the scrolling text.
			<br />
			<br />
		img(src='img/site/newOldSiteLanding.gif')
		
		.text
			<br />
			<br />
			| This iteration had lost a polished aspect so I decided to go back to the drawing board. With the new emphasis on the portfolio, I came up with a mockup in photoshop of what this new site could finally look like. The mockup was actually made during a stop on a 14.5 hour drive to Philadelphia for <a href='http://2015f.pennapps.com/'>PennApps</a>. I started creating the site at the hackathon that weekend and had a working prototype in no time. I've been tweaking and builing out the portfolio since then. At first it was just a static site hosted on GitHub Pages. I've since converted it to a NodeJS server so that I could use Jade templating for the project pages. 
			<br />
			<br />
		img(src='img/site/newSiteFinal.gif')
	

	.section
		.last-bit
			.text.six.columns
				| Github repo including all three versions for my <a href="http://github.com/mattohagan/personal-site" target="_blank">personal site</a>.

