extends sharing-template

block title
	|Studio Office

block description
	|NYC Residency ~ 2018

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Art and<br>Community
			.content__quote.dont-show
				|In January of 2018, two friends and I created our own #[span mini-residency] in New York City. Once settled, we invited friends and artists to make something with us.
			.intro.dont-show 
			h4 Getting started
			p We had always wanted to try building our own space and had the month of January off before starting full-time jobs. Without much of a game plan, we headed to NYC and were able to secure a studio in Brooklyn after a couple days. The residency, dubbed Studio Office was run under the umbrella of #[a(href='/teal') Teal Process & Company], an avenue to conduct creative research. 
			p We all have background in community building and quickly became eager to share the space with others. To let everyone know what we were up to and invite them to the space, we created lil vignettes of our journey thus far. 
	.row.content.show-last
		.four.columns
			<div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/251738370?color=ffffff" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			.content__caption Mel's edit

		.four.columns
			<div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/251738474?color=ffffff" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
			.content__caption My edit
		
		.four.columns
			<div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/251738248?color=ffffff" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
			.content__caption Yatu's edit
			
	.row.content.show-last
		.seven.columns
			h4 Sharing the space
			p We were ecstatic that five friends and artists were able to schedule a visit. To help brainstorm ideas, we sent them all a quick google form to get a general direction of their current interests. I then jumped on a call with each of them to hash out and talk through feasibility of ideas and if we would need any materials. 

			p Yatu put together a google doc to provide directions and some helpful notes on our expectations for the visit. The days were pretty open ended and we encouraged visitors to embrace ambiguity with us. 
	.row.content.content--no-top-margin.show-last
		.nine.columns
			img.has-border(src='img/studio-office/dan-studio-visit-doc.png')

	.row.content.show-last
		.seven.columns
			h4 Preparation
			p True to our initial interests in building the space, being cognizant of how we were using it was one of my highlights of the residency. What was just a barren room when we walked in became an empty canvas for us to explore. We kept the space tidy but not precious, building desks out of scraps we found from neighboring studios. We organized our tools and materials to make everything easily accessible at a moment's notice. We also created a mental model of the space in order to communicate its intended purpose, delegating areas for leisure, work, and production.
	.row.show-last
		.twelve.columns
			img.has-border(src='img/studio-office/the-studio.jpg')


	.row.content.show-last
		.seven.columns
			h4 Documentation
			p True to our initial interests in building the space, being cognizant of how we were using it was one of my highlights of the residency. What was just a barren room when we walked in became an empty canvas for us to explore. We kept the space tidy but not precious, building desks out of scraps we found from neighboring studios. We organized our tools and materials to make everything easily accessible at a moment's notice. We also created a mental model of the space in order to communicate its intended purpose, delegating areas for leisure, work, and production.
	.row.show-last
		.four.columns
			img.has-border(src='img/studio-office/xenia.jpg')
		.four.columns
			img.has-border(src='img/studio-office/dan.jpg')
		.four.columns
			img.has-border(src='img/studio-office/it-me.jpg')


	.row.content.show-last
		.seven.columns
			h4 Post-residency
			p By the end, we came up with the idea to build an online artifact around what had been accomplished. Since February, we’ve been meeting for two hours each week for working time. The end goal is to create the idea of an institution, of which had run a trial residency (Studio Office). On the institutions site, we’ll showcase the artists that came through along with the projects and learnings of the day. While we played around with the idea of actually building an institution and could see ourselves building a similar permanent space, we settled on the institution being a piece of art for now. 

			p Here’s a look into our process of branding the institution while building the online artifact. In order to align on a direction, we four developed brand character traits to see which one stuck out as our primary. Naturally, we chose the direction of documenting. 
	.row.show-last
		.six.columns
			img.has-border.extra-bottom-margin(src='img/studio-office/line study 001.jpg')
		.six.columns
			img.has-border.extra-bottom-margin(src='img/studio-office/line study 002.jpg')
	.row.show-last
		.six.columns
			img.has-border(src='img/studio-office/line study 003.jpg')
		.six.columns
			img.has-border(src='img/studio-office/line study 004.jpg')
	.row.content.show-last
		.seven.columns
			p While the project is still in progress, #[a(href='https://www.are.na/matt-o-hagan/worklog-tp-c' target='_blank' rel='noopener noreferrer') our worklog] is available to view!





