extends sharing-template

block title
	|Studio Office

block description
	|NYC Residency ~ 2018

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Art and<br>Community
			.content__quote.dont-show
				|In January of 2018, two friends and I created our own #[span mini-residency] in New York City. Once settled, we invited friends and artists to make something with us.
			.intro.dont-show 
			h4 Getting started
			p After arriving in New York, we were able to secure a studio space in a couple of days. We moved in the next day, put together a couple vignettes of our adventure thus far, and let our friends know what we were up to.
	.row.content.show-last
		.twelve.columns
			img(src='/3/img/hunt/hunt-onboardings.png')
	.row.content.show-last
		.seven.columns
			h4 Getting started
			p After arriving in New York, we were able to secure a studio space in a couple of days. We moved in the next day, put together a couple vignettes of our adventure thus far, and let our friends know what we were up to.

