extends artifacts-template

block title
	|Teal Process & Co.

block description
	|Art collective + creative research ~ 2017-18

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Art and<br>community
			.content__quote.dont-show
				|In the end, we're just a small group of friends that enjoy #[span exploring ] #[span ideas ] #[span together]

			.intro.dont-show
				p We primarily started Teal as an excuse to learn anything we want. Our first focus has been online artifacs, and we're eager to keep expanding our creative reach. We see online artifacts as the perfect blend of development, design, and art. When we build our own platforms, we get to tell the story and craft a narrative however we want, with no limitations.

				h4 Gassed up
				p Our first online artifact, #[a(href='https://tealprocess.com' target='_blank') Gassed Up], is the story of an unfortunate birthday party. The photoshoot for the project was originally only intended for a local Tallahassee artist by the name of Sadboy, who starred as Bear in this project. The idea was to showcase the environment of a birthday party but everyone would be sad. With inspiration from one of Norman Rockwell’s magazine covers depicting a dejected butler after New Year’s Eve, we had a classic dichotomy on our hands. The scope eventually expanded, went through a couple iterations, and landed as the project you see today.

	.row.content.show-last
		.four.columns
			img.has-border(src='img/teal/4DeadBallons.png')
		.four.columns
			img.has-border(src='img/teal/Kazoo.png')
		.four.columns
			img.has-border(src='img/teal/Confetti.png')

	.row.content.show-last
		.seven.columns
				h4 More to explore
				p Here's a few more adventures in the world of Teal 
				ul
					li #[a(href='https://instagram.com/teal.labs' target='_blank') @teal.labs], our culturally shared creative diary
					li #[a(href='/29-09') 29-09], baby steps into self-publishing
					li #[a(href='https://www.are.na/matt-o-hagan/worklog-tp-c' target='_blank') Worklog], a running log of our process building projects
					li #[a(href='https://www.are.na/matt-o-hagan/worklog-tp-c' target='_blank') @tealprocess], our portfolio on Instagram
					li #[a(href='https://tealprocess.com' target='_blank') Gassed Up], our first online artifact
	

