extends designing-template

block title
	|We Sketch

block description
	|A series of live audience games ~ 2019

block project-content
	.row.content.content--is-intro.dont-show
		.seven.columns
			.content__experience.dont-show
				|Product and<br> interaction design
			.content__quote.dont-show
				|As infrastructure, Plaid supports everyone from humans that use financial technology, to those that build it, regulate it, and maintain it. This is a sample of work from almost four years at Plaid. 

			//- .row.intro.dont-show
			//- 	.eight.columns
			//- 		h6 Goal
			//- 		p Create an engaging way to explore the city
			//- 
			//- 		h6 Timeline
			//- 		p The team consisted of myself as the product designer alongside two iOS devs and two backend devs. We designed and built Hunt in two weeks during our Summer ‘16 #[a(href='https://apply.hackny.org/') HackNY Fellowship]
			//- 
			//- 		h6 Audience
			//- 		p We launched on Test Flight to the 23 other HackNY Fellows that were living with us
			//- 
			//- 		h6 End product
			//- 		p A scavenger hunt app where you complete tasks by submitting to your team's story
			//- 	.four.columns
			//- 		.content__extend.content__extend--is-large
			//- 			img.has-border(src='img/hunt/hunt-in-app-2.png')

	.row.content.show-last
		.seven.columns
			h4 Tapping away at Berklee 
			p Created to...
	//- .row.content.show-last(style="margin-top: 0;")
	.row.content.show-last(style="margin-top: 0;")
		.four.columns
			video(autoplay="autoplay" loop="true" muted).has-border.extra-bottom-margin
				source(src="img/we-sketch/berklee-prototype.mp4" type="video/mp4")
		.five.columns
			img.has-border.extra-bottom-margin(src='img/we-sketch/berklee-photo-before.png')
			img.has-border.extra-bottom-margin(src='img/we-sketch/berklee-photo.png')
		//- .four.columns
			
			
	.row.content.show-last
		.seven.columns
			h4 3D Scene creator
			p Created to...
	.row.content.show-last(style="margin-top: 0;")
		.twelve.columns
			img.extra-bottom-margin(src='img/we-sketch/build-a-scene.png')
			
	.row.content.show-last
		.seven.columns
			h4 Trivia and Mural drawing 
			p Created to...
	.row.content.show-last(style="margin-top: 0;")
		.eleven.columns
			img.extra-bottom-margin(src='img/we-sketch/trivia-mural.png')
	.row.content.show-last(style="margin-top: 0;")
		.eight.columns
			img.has-border.extra-bottom-margin(src='img/we-sketch/trivia-photo.png')
