.center__project.center__project--is-purple.center--is-hidden
	ul
		li
			a(href='/4/modes')
				|<b>Modes of exploration</b><br>Mostly digital, all conceptual
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		li
			a(href='/4/teal')
				|<b>Teal P&C</b><br>Always an open question
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		li
			a(href='/4/29-09')
				|<b>29-09</b><br>An online publication
				.center__project-arrow
					include ../svgs/icon-arrow.svg
