.center__project.center__project--is-orange.center--is-hidden
	ul
		li
			a(href='/studio-office')
				|<b>Studio Office</b><br>One-month NYC residency
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		//- li
		//- 	a(href='')
		//- 		|<b>Shared context</b><br>Tools on digital proximity
		//- 		.center__project-arrow
		//- 			include ../svgs/icon-arrow.svg
		li
			a(href='/temporal-canvas')
				|<b>Temporal canvas</b><br>Drawing with friends
				.center__project-arrow
					include ../svgs/icon-arrow.svg
		//- li
		//- 	a(href='/pondering')
		//- 		|<b>Pondering</b><br>Code Societies at SFPC
		//- 		.center__project-arrow
		//- 			include ../svgs/icon-arrow.svg
