extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/final.css')
block localscripts
	script(src='js/final.js')
block content
	#landing
		canvas(id='effects')
		.container
			.header
				.row
					.big-404.twelve.columns
						| 404
					.sub-title-404.twelve.columns
						| sorry about that.
				div(style='clear: both')




