extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/about.css')
block localscripts
	script(src='js/about.js')
block content
	.container.hero

		.hero__middle
			.row.hero__middle-center
				.hero__middle-left.six.columns
					.frames
						.frame.frame--0
							img(src='/img/norman/paper-norman.JPG').not-visible
						.frame.frame--1.frame--is-hidden
							img(src='/img/norman/smiley-norman.jpg').not-visible
						.frame.frame--2.frame--is-hidden
							img(src='/img/norman/lemonade-norman-2.jpeg').not-visible
						.frame.frame--3.frame--is-hidden
							img(src='/img/norman/speeding-bullet-norman.jpg').not-visible
						.frame.frame--4 
							img(src='/img/norman/norman-uke-2.gif').not-visible
					.controls
						#go-left
						#pause
						#play
						#go-right


				.hero__middle-right.three.columns.dont-show
					p.copy
						|<b>Heyo!</b> </br>
						|I'm Matt. I also go by Norman in art projects.


						
		



					
