extends project

block bgcss
	link(rel='stylesheet' type='text/css' href='css/blue.css')
block head-img
	.head-img(style="background-image: url('img/domiDashSecond.gif')")

block proj-title
	| Domi Station 
block proj-position
	| Developer Intern
block proj-date
	| Fall 2014 - Spring 2015
block proj-skills
	| NodeJS/Express + MongoDB + Jade + JS/jQuery + Illustrator

block proj-content
	| I interned for Domi for the duration of my Sophomore school year. The startup incubator and coworking space had just opened up their doors in the Spring of 2014. 

	<br />
	<br />
	img(src='img/domiDashSecond.gif')
	.img-title
		| Dashboard to visualize all of the reservation data
	<br />
	<br />
	| Unfortunately the rest of the dashboard shows alot of sensitive member data, but it looks great. 
	<br />
	<br />
	img(src='img/domiReservation.gif')
	.img-title
		| Dashboard to visualize all of the reservation data
	<br />
	<br />