extends community

block number
	| 2/4
block title
	| Florida Hackers
block position
	| Founding Member

block meta
	.row
		.twelve.columns
			.sub-header Desc.
			.info State-wide initiative to connect passionate creators across the Sunshine State.
	.row
		.twelve.columns
			.sub-header Site
			.info-link #[a(href='http://floridahackers.com') floridahackers.com]
	.row
		.twelve.columns
			.sub-header Date
			.info Spring 2016 - Present
	.row
		.twelve.columns
			.sub-header Takeaways
			.important Community Organizing

block photos
	ul.photos#fh
		li.item
			img(src='img/floatie/barcamp-topics.jpg')
		li.item.gif
			img(src='img/floatie/gifn-booth-static.gif')
		li.item.move-down-abit
			img(src='img/floatie/swag.jpg')
		li.item.move-down
			img(src='img/floatie/stage.jpg')