extends community

block number
	| 1/4
block title
	| Floatie
block position
	| Founding Organizer

block meta
	.row
		.twelve.columns
			.sub-header Desc.
			.info The first state-wide student run conference for student tech leaders in Florida.
	.row
		.six.columns
			.sub-header Site
			.info-link #[a(href='http://floatie.io') floatie.io]
		.six.columns
			.sub-header Date
			.info Fall 2016
	.row
		.twelve.columns
			.sub-header Role
			.info Event Experience & Sponsorship
	.row
		.twelve.columns
			.sub-header Takeaways
			.important Building Team Operations

block photos
	ul.photos#floatie
		li.item.rotate-2
			img(src='img/floatie/barcamp-topics.jpg')
		li.item.gif.rotate-1
			img(src='img/floatie/gifn-booth-static.gif')
		li.item.move-down-abit.rotate-4
			img(src='img/floatie/swag.jpg')
		li.item.move-down.rotate-3
			img(src='img/floatie/stage.jpg')