extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
block content
	.container.hero
		.hero__header.dont-show
			.hero__header-toggle 
				.select-wrapper
					select
						option(value=0) v4.2018
						option(value=1) v3.2017
						option(value=2) v2.2016
						option(value=3) v1.2014
					
			.hero__header-icons
				a(href='https://www.are.na/matt-o-hagan' target='_blank' rel='noopener noreferrer')
					include svgs/arena-logo.svg
				a(href='https://www.instagram.com/whosnorman/' target='_blank' rel='noopener noreferrer')
					include svgs/ig-logo.svg
			.u-cf

		.hero__middle
			.row.hero__middle-center
				.hero__middle-left.six.columns
					.frames
						.frame.frame--0
							img(src='/img/IMG_7763.jpg').not-visible
						.frame.frame--1.frame--is-hidden
							img(src='/img/matt-gif-2.gif').not-visible
						.frame.frame--2.frame--is-hidden
							img(src='/img/static-antique.jpg').not-visible
						.frame.frame--3.frame--is-hidden
							img(src='/img/IMG_9633.jpg').not-visible
						.frame.frame--4 
							img(src='/img/primitive 003.png').not-visible
					.controls
						#go-left
						#pause
						#play
						#go-right


				.hero__middle-right.three.columns.dont-show
					p.copy
						|<b>Matt O'Hagan</b> </br>
						|Design at <a href='/plaid'>Plaid</a> // Art and </br>
						|community at <a href='/teal'>Teal Process</a>
		.hero__bottom.dont-show
			.hero__bottom-see-more Musings, works, and tidings
			.arrow.arrow--is-down
				include svgs/arrow-down.svg


						
		



					
