extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
block content
	.container.hero.dont-show
		.hero__header
			.hero__header-toggle v4.2018
			.hero__header-icons
				a(href='https://www.are.na/matt-o-hagan' target='_blank' rel='noopener noreferrer')
					include svgs/arena-logo.svg
				a(href='https://www.instagram.com/mattohagan/' target='_blank' rel='noopener noreferrer')
					include svgs/ig-logo.svg
			.u-cf

		.hero__middle
			.row.hero__middle-center
				.hero__middle-left.six.columns
					.frames
						.frame.frame--0 
							img(src='/img/IMG_7763.jpg').not-visible
						
						.frame.frame--1
							img(src='/img/matt-gif-2.gif').not-visible

						.frame.frame--2
							img(src='/img/static-antique.jpg').not-visible

						.frame.frame--3 
							img(src='/img/IMG_9633.jpg').not-visible
						.frame.frame--4 
							img(src='/img/primitive 003.png').not-visible
					.controls
						#go-left
						#pause
						#play
						#go-right


				.hero__middle-right.three.columns
					p.copy
						|<b>Matt O'Hagan</b> </br>
						|Design at <a href='/plaid'>Plaid</a> // Art and </br>
						|community at <a href='/teal'>Teal Process</a>
		.hero__bottom
			.hero__bottom-see-more Musings, works, and tidings
			.hero__bottom-down-arrow


						
		



					




