extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
block content
	.homepage
		.hero
			//- .mobile-show
			//- 	.hero__footer.dont-show
			//- 		.hero__footer-toggle
			//- 			.select-wrapper
			//- 				select
			//- 					option(value=0) v4.2018
			//- 					option(value=1) v3.2017
			//- 					option(value=2) v2.2016
			//- 					option(value=3) v1.2014
							
			//- 		.hero__footer-icons
			//- 			a(href='https://www.are.na/matt-o-hagan' target='_blank' rel='noopener noreferrer')
			//- 				include svgs/arena-logo.svg
			//- 			a(href='https://www.instagram.com/mattohagan/' target='_blank' rel='noopener noreferrer')
			//- 				include svgs/ig-logo.svg


			.hero__content.row
				.hero__content-left-side.four.columns
					|left
					.focus-area.red.dont-show
						.focus-area__topper Designing digital products
						.focus-area__arrow
							include svgs/icon-arrow.svg
						.focus-area__close
							include svgs/icon-close.svg
						.focus-area__shadow
				.hero__content-center.four.columns
					|center
					.hero__content-center-welcome
						h3 Welcome!
						p This is my lil corner of the<br>net, happy explorin'
				.hero__content-right-side.four.columns
					|right


			
							

			.hero__footer
				.hero__footer-toggle.mobile-hide
					.select-wrapper
						select
							option(value=0) v4.2018
							option(value=1) v3.2017
							option(value=2) v2.2016
							option(value=3) v1.2014

				.hero__footer-description
					|Design at <a href='/plaid'>Plaid</a> ~ Art and community at <a href='/teal'>Teal Process</a>
						
				.hero__footer-icons.mobile-hide
					a(href='https://www.are.na/matt-o-hagan' target='_blank' rel='noopener noreferrer')
						include svgs/arena-logo.svg
					a(href='https://www.instagram.com/mattohagan/' target='_blank' rel='noopener noreferrer')
						include svgs/ig-logo.svg


						
		



					




