extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
	script(src='js/home_links.js')
block content
	.body-container
		.intro-container
			.intro-container__footer
				.hero__footer.show-last
					include home/version-toggle
					include home/social-icons

			.intro-container__content
				.dont-show
					.center__welcome#welcome
						include home/intro


						
		



					
