doctype html
html
	head
		title Matt O'Hagan
		
		//- link(rel='stylesheet' type='text/css' href='fonts/leagueSpartan/stylesheet.css')
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/skeleton.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')
		link(rel='stylesheet' type='text/css' href='https://use.typekit.net/bkn6wwa.css')

		block localcss

		script(src='js/jquery-3.3.1.min.js')
		script(src='js/modernizr.custom.js')
		script(src='js/ga.js')
		
		meta(name='viewport' content='width=device-width, initial-scale=1')

	body.to-hide
		block content
		block localscripts

		
