doctype html
html
	head
		title Matt O'Hagan
		
		link(rel='stylesheet' type='text/css' href='fonts/leagueSpartan/stylesheet.css')
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/skeleton.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')
		link(rel='stylesheet' type='text/css' href='css/octicons/octicons.css')
		link(rel='stylesheet' type='text/css' href='css/font-awesome-4.7.0/css/font-awesome.min.css')

		block localcss

		script(src='js/modernizr.custom.js')
		script(src='js/jquery-1.11.0.min.js')
		block localscripts
		
		meta(name='viewport' content='width=device-width, initial-scale=1')

	body.to-hide
		block content

		
