doctype html
extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/final.css')
	link(rel='stylesheet' type='text/css' href='css/project.css')
	block bgcss
block localscripts
	script(src='js/project.js')
block content
	.header-layout
		block head-img
		.head-content
			.container
				.header
					.row
						#back.nav
							span.mega-octicon.octicon-chevron-left
							span(id='txt') home
					div(style='clear: both')

			.container
				.project-head
					.head-bottom
						.row
							.six.columns
								
								.title
									block proj-title
						.row.type
							.six.columns
								block proj-position
						.small-line
						.sub
							.row.date
								.twelve.columns
									span.mega-octicon.octicon-watch
									block proj-date
							.row.skills
								.twelve.columns
									span.mega-octicon.octicon-browser
									block proj-skills


	.project-content
		.container
			block proj-content 