extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/spring.css')
	link(rel='stylesheet' type='text/css' href='css/project.css')
block localscripts
	script(src='js/project.js')
block content
	.header#dev
		.container
			.hide-left
				.back
					.triangle
					| Home
			.title.hide-left Dashboard
			.meta
				.type.hide-left Web App #[span.hide-left 2014]
				.experience 
					ul
						li UI Design
						li Full-Stack Web
	.container
		.quote.dont-show
			| After a year, the reservation system had saved my boss approximately #[span.dev 1500 ] #[span.dev emails] and handled #[span.dev 567 ] #[span.dev room ]#[span.dev requests]. 
		.base-info.row.dont-show
			.columns.three
				.sub-header End Product
				.text A room reservation system and companion dashboard for Domi Station, an incubator and co-working space in Tallahassee.

				.sub-header Tech Used
				.text NodeJS/Express + MongoDB + Jade + JS/jQuery
			.columns.nine
				img(src='img/dashboard/domiDashSecond.gif')
				.sub-text Dashboard on load, displaying reservation stats.

	.container.dont-show
		.section
			.heading Reservation System
			.text After we thought of the initial idea for a scavenger hunt, we started wireframing the app. Thinking of what features we wanted to include and how the user flow might work. 
			img.add-border(src='img/dashboard/domiReservation.gif')

		.section
			.heading Dashboard
			.text After we thought of the initial idea for a scavenger hunt, we started wireframing the app. Thinking of what features we wanted to include and how the user flow might work. 
			img(src='img/dashboard/domiFooterReservations.PNG')
		
		.section
			.heading Slack Bot
			.text After we thought of the initial idea for a scavenger hunt, we started wireframing the app. Thinking of what features we wanted to include and how the user flow might work. 
			img.add-border.half(src='img/dashboard/dom_bot_snag.gif')
		