extends project

block bgcss
	link(rel='stylesheet' type='text/css' href='css/red.css')
block head-img
	.head-img(style="background-image: url('img/hacknc.jpg'); background-position-y: 0;")

block proj-title
	| Runaway 
block proj-position
	| HackNC Project - <a href="https://github.com/mattohagan/runaway">GitHub Repo</a>
block proj-skills
	| NodeJS + Front End + MeteorJS + MailJet API 
block proj-date
	| November 2014
block proj-content
	| <i>Let us make your escape plan.</i> Runaway is a road trip generator made to pair you up with local travelers for a weekend of affordable and time efficient fund. You tell us your budget, type of car, amount of friends, and maximum time you are willing to spend and we give you up to eight road trip options. We reserve 60% of the total budget for gas and the trip ends wherever the first constraint maxes out first.
	<br />
	<br />
	| After you select a probable trip, we store you in our database. As soon as another user in the same vicinity submits for a trip we match you up and start an anonymous conversation over email through the MailJet API.
	<br />
	<br />
	img(src='img/hacknc2.jpg')
	.img-title
		| Giving our top 10 finals demo, we wound up placing 4th overall that weekend.
	<br />
	<br />
	img(src='img/hacknc3.jpg')
	.img-title
		| During the demo
	<br />
	<br />
	| More screenshots of the actual UI (my favorite part) coming soon!
	<br />
	<br />
	<br />
