extends project

block bgcss
	link(rel='stylesheet' type='text/css' href='css/purple.css')
block head-img
	.head-img(style="background-image: url('img/firstPersonalSite.gif'); background-position-y: 0;")

block proj-title
	| Personal Site
block proj-position
	| Side Project
block proj-skills
	| Front End + Canvas + NodeJS + Jade
block proj-date
	| September 2015
block proj-content
	| My site was one of the very first projects I started, alongside <a href='/jot'>Jot</a>, after learning the basics of web development. The first iteration was created in the Summer of 2014, I had just learned git the semester before and had a couple hackathon projects on GitHub that I wanted to show off. Instead of a portfolio, the site wound up showcasing the skills I was learning alongside the hackathons I was attending. I love how it turned out, but for this year I wanted to showcase the actual work I'm capable of, thus I started creating the new site while I was back east during the Summer of 2015.
	<br />
	<br />
	img(src='img/firstPersonalSite.gif')
	.img-title
		| First personal site, built in the Summer of 2014. <a href='/oldSite'>Still live here.</a>
	<br />
	<br />
	| From the beginning I knew I wanted the site to look slightly minimal. I had found this <a href='http://mrdoob.github.io/three.js/examples/canvas_geometry_birds.html'>awesome three.js demo</a> of birds built using the canvas. I decided to incorporate it with a little blurb about me. For the portfolio aspect, I wanted to have each project shown on the homepage but with detailed individual page. I threw in some fancy css animations and came up with the first attempt shown below.
	<br />
	<br />
	img(src='img/newSiteLanding.gif')
	.img-title
		| First attempt of the Summer
	<br />
	<br />
	| Although the birds were fun, this version didn't catch the eye as much as the previous design. At first glance, many people may not read the blurb whereas the rotating text had caught attention and in turn, told the audience about myself. I decided to try something simpler and reused the scrolling text that had worked well before. The portfolio elements were also slimmed down to encourage actually reading what they were.
	<br />
	<br />
	img(src='img/newSiteLandingPt2.gif')
	.img-title
		| Take two
	<br />
	<br />
	| This iteration felt almost too simple, and linking out to Technole, HackFSU, and Domi didn't tell enough about my involvement. I decided to make those a part of the portfolio, which in turn meant that almost all of my content now belonged to the portfolio aspect of the site. I decided to try out displaying the project info in a box format, while still telling a bit about myself with the scrolling text.
	<br />
	<br />
	img(src='img/newOldSiteLanding.gif')
	.img-title
		| Take three with a rough box idea
	<br />
	<br />
	| This iteration had lost a polished aspect so I decided to go back to the drawing board. With the new emphasis on the portfolio, I came up with a mockup in photoshop of what this new site could finally look like. The mockup was actually made during a stop on a 14.5 hour drive to Philadelphia for <a href='http://2015f.pennapps.com/'>PennApps</a>. I started creating the site at the hackathon that weekend and had a working prototype in no time. I've been tweaking and builing out the portfolio since then. At first it was just a static site hosted on GitHub Pages. I've since converted it to a NodeJS server so that I could use Jade templating for the project pages. 
	<br />
	<br />
	img(src='img/newSiteMockup.png')
	.img-title
		| Mockup that was made in a Waffle House in Georgia around 3am on the way to PennApps
	<br />
	<br />
	| Here's the final version! I'll be pulling some of the elements and colors to use on my resume to keep a consistent brand. I also added some easter eggs in during development like the favicon being based on the time of day, and the popping of shapes on the homepage aswell as the <a href='/404'>404 page</a>. Cheers!
	<br />
	<br />
	img(src='img/newSiteFinal.gif')
	.img-title
		| Final version of the homepage as of 10/2/15
	<br />
	<br />