extends project

block bgcss
	link(rel='stylesheet' type='text/css' href='css/purple.css')
block head-img
	.head-img(style="background-image: url('img/firstPersonalSite.gif'); background-position-y: 0;")

block proj-title
	| Personal Site
block proj-position
	| Side Project
block proj-skills
	| Front End + Canvas + NodeJS + Jade
block proj-date
	| September 2015
block proj-content
	| I hit a snag when I discovered that Chrome wasn't going to let me use localStorage with data:text/html, so I threw a json file in there and switched everything over to a chrome extension. I was later convinced by a friend to take some screenshots of Jot and throw it up on the Chrome Web Store. It was shipped at one of the first <a href="http://www.lytehacks.com">LyteHacks</a> in October 2014 and was <a href="http://www.producthunt.com/tech/jot-2">posted on Product Hunt</a>, initially hitting around 500 users. About a week or two later it hits about 1,000 users. Come to find out, it was <a href="http://www.lifehacker.jp/2014/10/141029todojot.html">featured on lifehacker.jp</a>.
	<br />
	<br />
	img(src='img/firstPersonalSite.gif')
	.img-title
		| First personal site, built in the Summer of 2014. <a href='/oldSite'>Check it out.</a>
	<br />
	| hi
	<br />
	<br />
	img(src='img/newSiteLanding.gif')
	.img-title
		| First attempt of the summer
	<br />
	| Although the birds were fun, this version didn't catch the eye as much as the previous design. At first glance, many people may not read the blurb whereas the rotating text had caught attention and in turn, told the audience about myself. I decided to try something simpler and reused what I knew had been working well. The portfolio elements were also slimmed down to encourage actually reading what they were.
	<br />
	<br />
	img(src='img/newSiteLandingPt2.gif')
	.img-title
		| Take two during the summer
	<br />
	<br />
	img(src='img/newOldSiteLanding.gif')
	.img-title
		| Take three with a rough box idea
	<br />
	<br />
	img(src='img/newSiteMockup.png')
	.img-title
		| Made in a Waffle House in Gerogia around 3am on the way to PennApps

	<br />
	<br />