extends community

block number
	| On-Campus
block title
	| Technole
block position
	| Founding Member, 2013

block meta
	.row
		.twelve.columns
			.sub-header Desc.
			.info Student tech group with a focus on building to learn. 
	.row
		.twelve.columns
			.sub-header Site
			.info-link #[a(target='_blank' href='http://technole.org') technole.org]
	.row
		.twelve.columns
			.sub-header Takeaways
			.info Team Organization + Securing Travel

block photos
	ul.photos#technole
		li.item.move-down.rotate-4
			img(src='img/technole/technoleWinter.jpg')
		li.item.move-down.rotate-2
			img(src='img/technole/technoleDuke.jpg')
		li.item.move-down.rotate-3
			img(src='img/technole/hhsouthPic.jpg')
		li.item.move-down.rotate-1
			img(src='img/technole/technoleBooth.jpg')
		li.item.move-down.rotate-4
			img(src='img/technole/technolemhacks.JPG').active