extends ../dev-project

block title
	| Hone
block type
	| Web App
block year
	| #[span 2016]

block experience
	.experience.extra-margin
		ul
			li Full-Stack Web

block quote
	| We jumped on a bus in Tampa, FL and just over #[span 72 ] #[span hours ] #[span later] we were presenting our new startup and prototype in Boulder, CO. 

block base-info
	.columns.three
		.sub-header End Product
		.text Built for restaurants, Hone allows easy creation of job applications to allow managers to see characteristic trends of employees that stay.

		.sub-header Tech Used
		.text NodeJS/Express + MongoDB + HTML/CSS/JS

	.columns.eight.pull-right
		img.add-border(src='img/hone/hone-dashboard.gif')
		.sub-text Restaurant manager dashboard on load.
block main
	.section
		.heading Hire Once, Not Everyday
		.text
			| The Florida bus had a theme of Food, Beverage, and Hospitality. The goal we came up with was to attempt to subdue the high turnover rate that restaurants face. 
			<br/>
			<br/>
			| The team essentially consisted of myself, a designer, and a handful of business-focused folks. While myself and the designer built out the prototype, they were making calls to validate the idea and secure potential customers. We made stops in Nashville and Kansas City before making our way to the preliminaries in Boulder, CO. All three Florida teams made it through to the semi-finals, and two of us had the pleasure of presenting in the finals. The application generation feature you can see below was finished just about 30 minutes before we walked on stage. 
			<br/>
			<br/>

		img.add-border(src='img/hone/hone-create-app.gif')

	.section
		.heading StartupBus '16
		.text 
			| #[a(target='_blank' href='http://startupbus.com') StartupBus] has a saying that they don't build startups, they build people. I highly recommend anyone interested in the startup culture to checkout the program and consider riding the bus atleast once. Feel free to #[a(target='_blank' href='http://twitter.com/micdropmatt') reach out] if you have any questions or want to chat!
			<br/>
			<br/>

		img(src='img/hone/outsidethebus.jpg')
		img(src='img/hone/startupbus-finals.jpg')

